<div class="box min-width users chat">
  <div class="dash scrollable">
    <div class="table-container">
      <div class="chatlist__container">
        <div class="chatlist__openrooms">
          <div class="chatlist__actions">
            <i class="material-icons action" ng-click="chat.toggleOnlineUsers()">{{chat.viewOnlineUsers ? 'arrow_back' : 'message'}}</i>
          </div>
          <div class="chatlist__list">
            <div ng-if="!chat.activeRooms.length && !chat.viewOnlineUsers" class="center" style="padding: 24px;">No active chatrooms.</div>
            <div ng-if="!chat.users.length && chat.viewOnlineUsers" class="center" style="padding: 24px;">No online users.</div>
            
            <div ng-if="!chat.viewOnlineUsers">
              <div class="chatlist__chat" ng-repeat="room in chat.activeRooms | orderBy:['-date','-time']"
                ng-class="{'active' : selectedRoom.uid === room.uid}"
                ng-click="chat.getSelectedRoom(room.uid)">
                <div>{{room.client}} <i class="material-icons msg-new" ng-if="room.unread">new_releases</i> </div>
                <div class="small"><i class="material-icons">subject</i> {{chat.formatTitle(room.about) || 'Opened by agent'}}</div>
                <div class="small"><i class="material-icons">calendar_today</i> {{chat.formatDate(room.date)}}</div>
              </div>
            </div>

            <div ng-if="chat.viewOnlineUsers">
              <div>
                <input type="text" class="filter-input" placeholder="Search by keyword" ng-model="chat.keyword">
              </div>

              <div class="chatlist__chat" ng-repeat="user in chat.users | orderBy:['name']"
                ng-click="chat.newRoom(user)"
                ng-if="user.online">
                <div><span class="online"></span> {{user.name}} {{user.lastName}} {{user.displayName}}</div>
                <div class="small"><i class="material-icons">mail_outline</i> {{user.email || 'N/A'}}</div>
                <div class="small"><i class="material-icons">phone</i> {{user.phone || 'N/A'}}</div>
                <div class="small"><i class="material-icons">location_on</i> {{user.country.name || user.country.label || 'N/A'}}</div>
              </div>
              <div class="chatlist__chat" ng-repeat="user in chat.users | orderBy:['name'] | filter: chat.keyword as filtered"
                ng-click="chat.newRoom(user)"
                ng-if="!user.online">
                <div>{{user.name}} {{user.lastName}} {{user.displayName}}</div>
                <div class="small"><i class="material-icons">mail_outline</i> {{user.email || 'N/A'}}</div>
                <div class="small"><i class="material-icons">phone</i> {{user.phone || 'N/A'}}</div>
                <div class="small"><i class="material-icons">location_on</i> {{user.country.name || user.country.label || 'N/A'}}</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="chatbox__container" ng-class="{'center' : !selectedRoom}">
        <div class="chatbox__actions" ng-if="selectedRoom">
          <div class="clientinfo">{{selectedRoom.client.name}} {{selectedRoom.client.lastName}}</div>
          <span class="closeroom" ng-click="chat.closeRoomModal()" ng-if="selectedRoom.uid">CLOSE ROOM</span>
        </div>
        <div class="chatbox__messages" ng-if="selectedRoom">
          <div class="msg" ng-repeat="message in selectedRoom.messages"
            ng-class="(message.to.name === currentUser.data.name && message.to.lastName === currentUser.data.lastName ? 'msg-client' : 'msg-agent')">
            <div class="msg-bubble">{{message.text}}</div>
            <div class="msg-time">{{message.time}}</div>
          </div>
        </div>
        <div class="chatinput" ng-if="selectedRoom">
          <form ng-submit="chat.agentMessage && chat.sendMessage()">
            <input type="text" ng-model="chat.agentMessage" placeholder="Type a message">
            <button type="submit" class="center send">
              <i class="material-icons action">send</i>
            </button>
          </form>
        </div>
        <div ng-if="!selectedRoom">Please select a chat from the list.</div>
      </div>
    </div>
  </div>
</div>