<div id="login">
  <div class="logo">
    <img src="../../assets/images/logo-fetgo-white.svg" alt="FETGO">
  </div>
  <div class="formContainer">
    <form class="form" ng-submit="login.signIn()">
      <div class="alert" ng-if="login.errorMsg">
        <div>
          <i class="material-icons">warning</i>
        </div>
        <div>{{login.errorMsg}}</div>
      </div>
      <i class="material-icons" id="icon-email">person</i>
      <input type="email" placeholder="Email"
        ng-model="login.email" ng-click="login.reset()" id="email">
      <br>
      <i class="material-icons" id="icon-password">lock</i>
      <input type="password" placeholder="Password"
        ng-model="login.password" ng-click="login.reset()" id="password">
      <button id="btn" type="submit">Login</button>
    </form>
  </div>
  <div class="bg">
    <img src="../../assets/images/login-pic@2x.jpg" alt="FETGO">
  </div>
  <div class="footer">
    <span>Copyright © {{login.year}} FETGO. All rights reserved.</span>
  </div>
</div>