.chat {
  * {
    user-select: none;
  }

  .dash {
    font-family: $regularFont;
    color: $black;
  }

  .table-container {
    flex-direction: row;
    display: flex;
    height: 100%;
    padding: 0;
  }

  .chatlist__container {
    width: 40%;
    border-right: 1px solid $lightGray2;
  }

  .chatbox__container {
    width: 60%;
  }

  .chatlist__chat {
    border-bottom: 1px solid $lightGray2;
    padding: 12px 24px;
    cursor: pointer;
    line-height: 1.5;

    &:hover {
      background-color: $bgGray;
    }
  }
  
  .chatlist__openrooms {
    height: 100%;
  }

  .chatlist__list {
    overflow-y: auto;
    height: calc(100% - 50px);
  }

  .chatbox__actions, .chatlist__actions {
    display: flex;
    height: 50px;
    align-items: center;
    padding: 0 24px;
    border-bottom: 1px solid $lightGray2;
  }

  .chatlist__actions {
    justify-content: flex-end;
  }

  .chatbox__messages {
    height: calc(100% - 95px);
    overflow-y: auto;
    background-color: $bgGray;
    padding: 12px;

    &::-webkit-scrollbar-thumb {
      background-color: $black;
    }
  }

  .msg {
    display: flex;
    align-items: center;
  }

  .msg-client {
    .msg-bubble {
      background-color: white;
    }
  }

  .msg-new {
    color: $red;
    float: right;
  }

  .msg-agent {
    flex-direction: row-reverse;
    .msg-bubble {
      background-color: $red;
      color: white;
    }
  }

  .msg-time {
    font-size: 12px;
  }

  .msg-bubble {
    border-radius: 16px;
    font-size: 14px;
    padding: 8px 12px;
    margin: 6px;
    display: inline-block;
    user-select: text;
  }

  .chatinput {
    width: 100%;
    background-color: white;
    display: flex;
    border-top: 1px solid $lightGray2;
    
    form {
      width: 100%;
      display: flex;
    }

    input {
      outline: none;
      border: none;
      font-family: $regularFont;
      font-size: 16px;
      flex: 1;
      padding: 12px 24px;
      align-items: center;
    }

    .send {
      outline: none;
      border: none;
      padding: 8px 12px;
    }
  }

  .clientinfo {
    flex: 1
  }
  .closeroom {
    background-color: $red;
    color: white;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    height: 22px;
    cursor: pointer;
  }

  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .action {
    color: $darkGray;
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &:hover {
      color: $mediumGray;
    }
  }

  .active {
    background-color: $lightGray;
  }

  .small {
    font-size: 14px;
    display: flex;
    align-items: center;

    .material-icons {
      font-size: 20px;
      margin-right: 6px;
    }
  }

  .online {
    border-radius: 100%;
    background-color: $red;
    height: 10px;
    width: 10px;
    display: inline-block;
  }

  .filter-input {
    width: 100%;
  }
}