.db {

  .column {
    margin: 0px 8px !important;
  }

  .action {
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
      color: $mediumGray;
    }
    &:disabled {
      color: $lightGray;
      cursor: not-allowed;
    }
  }

  .noInfo {
    opacity: 0.7;
  }

  .filter-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0;
    // border-bottom: 1px solid $darkGray;
    width: calc(100% - 19px);
    margin-left: 6px;
    padding: 12px;
    font-size: 16px;
    outline: none;
    font-family: 'Proxima Nova Rg', Georgia, sans-serif;
    color: $darkGray;
    transition: all 0.10s ease-in-out;
  
    &::placeholder {
      color: $mediumGray;
    }
  
    &:focus {
      &::placeholder {
        color: $lightGray !important;
      }
    }
  }

  .new-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    outline: none;
    font-family: 'Proxima Nova Rg', Georgia, sans-serif;
    color: $darkGray;
    transition: all 0.10s ease-in-out;
    text-align: center;
    font-weight: bold;
  
    &::placeholder {
      color: $mediumGray;
    }
  
    &:focus {
      &::placeholder {
        color: $lightGray !important;
      }
    }
  }

  .list {
    padding: 0 !important;
    padding-bottom: 49px !important;
  }
  
  .item {
    background-color: white;
    font-family: $regularFont;
    font-weight: bold;
    padding: 14px;
    height: 49px;
    border-bottom: 1px solid $lightGray2;
    text-align: center;
    cursor: pointer;
    color: $darkGray;
    display: flex;
    justify-content: center;
    transition: all 0.1s ease-in-out;
    align-items: center;
    span {
      flex: 1;
    }

    &.no-link {
      cursor: initial;
    }

    &.new {
      border: none;
    }
  }

  .active {
    background-color: $darkGray;
    color: white;
  }

  .add {
    background-color: white;
    color: $red;
    transition: all 0.1s ease-in-out;
    border-bottom: none;

    &:hover {
      background-color: $lightGray;
    }
  }
}