.min-width {
  min-width: 1024px;
}

.dash {
  background-color: $bgGray;
  padding: 55px 62px;
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

.scrollable {
  overflow: auto;
}

.disabled {
  background-color: #CCC !important;
}

.capitalize {
  text-transform: capitalize;
}

.error {
  border-color: $red !important;
  color: $red !important;
  
  &::placeholder {
    color: $red !important;
  }
}

.box {
  width: 100%;
  height: calc(100% - 220px);
  overflow: auto;
  position: absolute;
  top: 220px;
}

.formMsg {
  font-size: 12px;
  color: $red;
  margin-bottom: 10px;
  div {
    color: $red;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shadow {
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.5);
}

.filter-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid $lightGray;
  width: 300px;
  padding: 12px;
  font-size: 14px;
  outline: none;
  font-family: 'Proxima Nova Rg', Georgia, sans-serif;
  color: $darkGray;
  transition: all 0.10s ease-in-out;

  &::placeholder {
    color: $mediumGray;
  }

  &:focus {
    &::placeholder {
      color: $lightGray !important;
    }
  }
}

.flex-right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

.date-filters {
  .formMsg {
    margin: 0;
  }
  display: flex;
  align-items: center;
}

.search {
  display: flex;
  cursor: pointer;
  user-select: none;
  margin-right: 12px;
  color: $mediumGray;
  transition: all 0.30s ease-in-out;
  &.material-icons {
    display: initial;
  }
  &:hover {
    color: $darkGray;
  }
  span {
    line-height: 1.8;
    margin-left: 6px;
  }
}

a {
  font-family: $regularFont;
  font-size: 14px;
  text-decoration: underline;
  color: $red !important;
  cursor: pointer;
  &:hover {
    color: $black;
  }
}
.fixed {
  table-layout: fixed;
  word-wrap: break-word;
}

.actions {
  width: 80px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(223, 223, 223, 1);
}

.wrap {
  word-break: break-all;
}

.sticky {
  bottom: 0;
  position: sticky;
}

table {
  input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    // background-color: $lightGray;
    border: 0;
    border-bottom: 1px solid $mediumGray;
    resize: none;
    padding: 12px;
    width: 80%;
    text-align: center;
    font-size: 14px;
    outline: none;
    font-family: 'Proxima Nova Rg', Georgia, sans-serif;
    color: $darkGray;
    transition: border-color 0.10s ease-in-out;

    &::placeholder {
      color: $mediumGray;
    }

    &:focus {
      &::placeholder {
        color: $lightGray2 !important;
      }
    }
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@-webkit-keyframes spinner {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes placeHolderShimmer{
  0%{
      background-position: -468px 0
  }
  100%{
      background-position: 468px 0
  }
}

.placeholder {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: $lightGray;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  border-radius: 6px;
  position: relative;

  &.type {
    width: 100px;
  }

  &.name {
    width: 200px;
  }

  &.line {
    height: 20px;
    margin-bottom: 4px;

    &:nth-of-type(odd) {
      width: 140px;
    }

    &:nth-of-type(even) {
      width: 100px;
    }
  }
}