.history, .users {

  .dash {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.filter-input {
  width: 160px;
}

.table-container {
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #dee1e2;
  background-color: white;
}

table {
  width: 100%;
  background-color: white;
  padding: 20px;
  color: $darkGray;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid #dee1e2;

    &:last-of-type {
      border: none;
    }
  }

  th, td {
    text-align: center;
    padding: 20px 5px 26px;
  }

  th {
    font-family: $regularFont;
    font-weight: bold;
    text-transform: uppercase;
  }

  td {
    font-family: $regularFont;
    padding: 10px 10px;

    img {
      width: 24px;
      height: 24px;
      margin: 4px 0px;
      object-fit: cover;
      border-radius: 100%;
    }
  }
}