#home {
  .column {
    width: 33%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid #dee1e2;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;

    &:first-of-type, &:last-of-type {
      margin: 0;
    }

    .title {
      display: flex;
      height: 58px;
      justify-content: flex-start;
      align-items: center;
      border-bottom: 1px solid $lightGray2;
      color: $darkGray;
      padding: 0px 34px 0px 34px;
      background-color: #fff;
      
      span {
        margin-left: 14px;
        font-size: 18px;
        font-family: $regularFont;
        text-transform: uppercase;
      }
    }

    .list {
      padding: 34px 26px;
      height: calc(100% - 58px);
      overflow: auto;

      .empty {
        font-family: $regularFont;
        text-align: center;
        color: $darkGray;
      }

      .ticket {
        margin-bottom: 26px;
        border-radius: 3px;
        background-color: white;
        box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.13);
        border-left: 6px solid $red;
        padding: 14px 16px 16px 24px;
        color: #49515C;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        span {
          font-family: $regularFont;
          font-weight: bold;            
        }
        p {
          font-family: $regularFont;
        }
        .material-icons {
          font-size: 26px;
          cursor: pointer;
        }
      }
    }
  }
}
.counter {
  width: 22px;
  font-size: 14px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $red;
  color: white;
  border-radius: 100%;
  font-size: 14px !important;
}