#login {
  background-image: $gradient;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  
  .logo {
    width: 100%;
    height: 244px;
    text-align: center;
    padding-top: 50px;
    border-bottom: 2px solid white;
    img {
      height: 48px;
    }
  }

  .formContainer {
    position: absolute;
    top: 160px;
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 100;
    .form {
      background-color: white;
      width: 360px;
      padding: 30px;
      box-shadow: 0 13px 25px 0 rgba(0, 0, 0, 0.13);

      .alert {
        border-bottom: 1px solid $red;
        padding: 18px;
        font-family: $regularFont;
        display: flex;
        margin-bottom: 18px;

        .material-icons {
          color: $red;
          margin-right: 18px;
        }
      }
      
      > .material-icons {
        transition: color 0.10s ease-in-out;
        position: absolute;
        &:first-of-type {
          font-size: 32px;
          margin-top: 14px;
          margin-left: 10px;
        }
        &:last-of-type {
          font-size: 24px;
          margin-top: 18px;
          margin-left: 14px;
        }
        color: $mediumGray;
      }

      input {
        border: 0;
        border-bottom: 1px solid $lightGray;
        width: 100%;
        padding: 18px 18px 18px 55px;
        font-size: 18px;
        outline: none;
        font-family: 'Proxima Nova Rg', Georgia, sans-serif;
        color: $darkGray;
        transition: border-color 0.10s ease-in-out;

        ::placeholder {
          color: $mediumGray;
        }
      }

      button {
        font-family: 'Proxima Nova Rg', Georgia, sans-serif;
        outline: none;
        border: none;
        width: 100%;
        text-transform: uppercase;
        font-size: 22px;
        padding: 11px;
        cursor: pointer;
        background-color: $red;
        color: white;
        border-radius: 34px;
        margin-top: 48px;
        transition: background-color 0.10s ease-in-out;
      }
    }
  }

  .bg {
    width: 100%;
    height: calc(100% - 244px);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      mix-blend-mode: overlay;
    }
  }

  .footer {
    position: absolute;
    height: 81px;
    margin-top: -81px;
    border-top: 2px solid white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      color: white;
      font-family: 'Proxima Nova Th', Georgia, sans-serif;
      font-size: 14px;
    }
  }
}