#menu {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 220px;
  top: 0;

  @media print {
    display: none;
  }

  .chat {
    span {
      display: flex;
    }
    .material-icons {
      margin-left: 10px;
      color: $red;
    }
  }

  .logo {
    height: 84px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(229, 229, 229, 0.5);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .user {
    padding: 22px 58px 18px 58px;
    width: 100%;
    height: 65px;
    display: flex;
    border-bottom: 1px solid #BBB;
    background-color: #fff;

    .avatar {
      width: 64px;
      height: 64px;
      margin-left: 52px;
      border-radius: 100%;
      background-color: $lightGray;
    }

    .name {
      display: flex;
      align-items: center;
      span {
        font-size: 31px;
        font-family: $regularFont;
        font-weight: bold;
        color: $darkGray;
        line-height: 1.3px;
      }
    }

    .type {
      display: flex;
      align-items: center;
      margin-left: 58px;
      span {
        font-family: $regularFont;
        font-size: 20px;
        color: $darkGray;
        position: relative;
        top: 2px;
      }
    }

    .icons {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      align-items: center;

      img {
        width: 26px;
      }

      * {
        cursor: pointer;
      }
      .material-icons {
        font-size: 26px;
        position: relative;
        top: 1px;
        color: $darkGray;
        margin-right: 42px;
      }
    }
  }

  .menu {
    padding: 31px 58px 0 58px;
    display: flex;
    justify-content: flex-start;
    background-color: #fff;
    overflow-x: auto;
    .item {
      display: flex;
      justify-content: center;
      height: 40px;
      margin-right: 76px;
      flex-shrink: 0;
      cursor: pointer;

      span {
        text-transform: uppercase;
        font-size: 18px;
        font-family: $thinFont;
        color: $darkGray2;
      }

      &.last {
        padding-right: 58px;
      }
      
      &.active {
        span {
          border-bottom: 5px solid $red;
          font-family: $regularFont;
          letter-spacing: 2.1px;
          font-weight: bold;
          color: $red;
        }
      }
    }
  }
}