.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  @media print {
    background-color: white;
  }

  &.image {
    background-color: rgba(0,0,0,0.8);
    z-index: 3;
    flex-direction: column;

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 400px;
    }

    img {
      margin-bottom: 20px;
    }

    button {
      font-family: $regularFont;
      width: 139.8px;
      height: 36px;
      border-radius: 25.9px;
      font-size: 16px;
      text-transform: uppercase;
      outline: none;
      border: none;
      color: white;
      background-color: $red;
      transition: all 0.10s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: $lightGray;
        color: $black;
      }

      &.close {
        background-color: transparent;
        color: white;
        &:hover {
          background-color: $lightGray;
          color: $black;
        }
      }
    }

    img {
      max-width: 500px;
      max-height: 500px;
    }
  }

  * {
    color: $black;
  }

  .modal {
    position: relative;
    background-color: white;
    width: 600px;
    height: auto;
    box-shadow: 0 21px 42px 0 rgba(0, 0, 0, 0.13);
    @media print {
      box-shadow: none;
    }

    label {
      font-size: 14px;
    }

    *:not(i) {
      font-family: $regularFont;
    }

    .title {
      text-transform: uppercase;
      font-size: 30px;
      padding: 26px 20px 26px 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      img {
        display: none;
        height: 30px;
        @media print {
          display: block;
        }
      }

      i {
        @media print {
          display: none;
        }
      }

      .close {
        border-radius: 100%;
        transition: background-color 0.10s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        padding: 10px;

        &:hover {
          background-color: $lightGray;
        }
      }
    }

    .content {
      display: flex;
      width: 100%;
    }

    .no {
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      margin-bottom: 12px;
      font-size: 22px;
    }

    .info {
      background-color: #F2F2F2;
      font-size: 22px;
      padding: 16px 26px;
      width: 100%;
      max-height: 316px;
      overflow-y: scroll;
      @media print {
        width: 100%;
        max-height: none;
      }
      &.with-photo {
        width: 50%;
      }
  
      &::-webkit-scrollbar-thumb {
        background-color: $black !important;
      }
    }

    .notification {
      margin-bottom: 0px;
      width: 100%;
      font-size: 14px;
      height: 100px;
      background-color: white !important;
      &::-webkit-scrollbar-thumb {
        background-color: $black !important;
      }
    }

    .photo {
      background-color: #F2F2F2;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 100%;
        max-height: 316px;
        object-fit: cover;
      }
    }

    .label {
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      margin-right: 6px;
    }

    .details {
      display: inline-flex;
      flex-direction: column;
    }

    .disclosure {
      padding: 16px 26px 0px;
    }

    .text {
      font-size: 14px;
      line-height: 1.8;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      padding: 20px 31px;
      @media print {
        display: none;
      }

      button {
        width: 139.8px;
        height: 36px;
        border-radius: 25.9px;
        font-size: 16px;
        text-transform: uppercase;
        outline: none;
        border: none;
        background-color: white;
        transition: background-color 0.10s ease-in-out;
        cursor: pointer;
        &:hover {
          background-color: #CCC;
        }
      }

      .submit {
        background-color: $red;
        font-family: $regularFont;
        color: white;
      }
    }

    input[type=text], input[type=email], input[type=number], input[type=password], select,textarea {
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: white;
      border: 0;
      border-bottom: 1px solid $lightGray;
      width: 90%;
      resize: none;
      padding: 12px;
      margin-bottom: 10px;
      font-size: 16px;
      outline: none;
      font-family: 'Proxima Nova Rg', Georgia, sans-serif;
      color: $darkGray;
      transition: border-color 0.10s ease-in-out;
  
      &::placeholder {
        color: $mediumGray;
      }

      &:disabled {
        background-color: $lightGray;
      }

      &:focus {
        &::placeholder {
          color: $lightGray !important;
        }
      }
    }

    .form {
      text-align: center;
    }

    .table-container {
      margin-top: 10px;
    }

    table {
      font-size: 14px;
    }

    td {
      padding: 5px;
    }

    th {
      padding: 5px 0px 10px;
    }
  }
}

.formBtn {
  &:disabled {
    background-color: #CCC !important;
    cursor: not-allowed !important;
  }
}

.modalOverlay {
  visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  &.loading {
    visibility: visible !important;
  }
}

.spinner {
  position: relative;
}
.spinner div,
.spinner div:after {
  position: absolute;
  width: 160px;
  height: 160px;
  border: 20px solid $red;
  border-top-color: transparent;
  border-radius: 50%;
}
.spinner div {
  -webkit-animation: spinner 1s linear infinite;
  animation: spinner 1s linear infinite;
  top: 100px;
  left: 100px;
}
.spinner div:after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.spinner {
  width: 50px !important;
  height: 50px !important;
  -webkit-transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
  transform: translate(-25px, -25px) scale(0.25) translate(25px, 25px);
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: $black;
  color: white;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 6px 13px 0 rgba(0, 0, 0, 0.13);
  border-left: 6px solid $red;
  padding: 14px 16px 16px 24px;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;
  font-family: $regularFont;

  &.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
}

.car-paint {
  display: flex;
  align-items: center;

  div {
    width: 26px;
    height:26px;
    display:inline-block;
    border-radius: 100%;
    margin-left: 6px;
  }
}

.car-pics {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120px;
  padding: 10px 0px;

  .pic-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .remove {
    width: 20px;
    height: 20px;
    background-color: $lightGray;
    cursor: pointer;
    border-radius: 100%;
    position: absolute;
    right: 12px;
    top: 6px;
    
    .material-icons {
      position: relative;
      top: -3px;
      left: 0.5px;
      font-size: 14px;
      color: $black;
    }
  }

  img {
    object-fit: cover;
    margin: 0px 6px;
    width: 100px;
    height: 100px;
  }
  
  input[type=file] {
    display: none;
  }

  .empty {
    width: 100px;
    height: 100px;
    background-color: $lightGray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    margin: 0px 6px;

    
    &:hover {
      background-color: $mediumGray;
      
      .material-icons {
        color: white;
      }
    }
  }
}

.file-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;

  div {
    display: inline-flex;
    align-items: center;
  }

  .remove {
    cursor: pointer;
    margin-right: 6px;
  }
  label {
    font-family: $regularFont;
    font-size: 14px;
    background-color: $red;
    border-radius: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 120px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    text-transform: uppercase;
    &:hover {
      background-color: $lightGray;
      color: $black;
    }
  }
  input[type=file] {
    transform: translateX(-78px);
    font-size: 14px;
    outline: none;
  }
  span {
    font-size: 14px;
  }
}

.checkDiv {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 38px;
  label {
    display: block;
    line-height: 1.8;
    font-size: 16px !important;
  }
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}