.user-list {
  height: 100%;
  width: 40%;
  padding-right: 6px;

  .filter-input {
    width: 100%;
  }

  table {
    width: 100%;
  }
}

.align-left {
  text-align: left;
}

.push {
  .dash {
    flex-direction: column;
  }

  .flex-row {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .user-controls {
    justify-content: flex-end;
  }

  .push-counter {
    font-family: $regularFont;
    display: flex;
    justify-content: space-between;
    color: $black;
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.8;

    .attach {
      cursor: pointer;
      color: $darkGray;
      transition: all 0.1s ease-in-out;
      display: flex;

      &:hover {
        color: $mediumGray;
      }
    }
  }

  .table-container {
    height: 100%;
    width: 100%;
    overflow-y: scroll;

    &.history-table {
      height: auto;
      overflow-y: initial;
    }

    &.push-content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%;
      margin-left: 6px;
    }
  }

  button {
    width: 100%;
    height: 33px;
    border-radius: 25.9px;
    font-size: 16px;
    text-transform: uppercase;
    outline: none;
    border: none;
    background-color: white;
    transition: background-color 0.10s ease-in-out;
    cursor: pointer;
    &:hover {
      background-color: #CCC;
    }
  }

  .submit {
    background-color: #c52026;
    font-family: $regularFont;
    color: white;
    flex-shrink: 0;

    &:disabled {
      background-color: #CCC !important;
      cursor: not-allowed !important;
    }
  }

  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    color: $black;
    border: 0;
    border-bottom: 1px solid $lightGray;
    width: 100%;
    height: 50%;
    padding: 12px;
    margin-bottom: 10px;
    font-size: 16px;
    outline: none;
    font-family: 'Proxima Nova Rg', Georgia, sans-serif;
    color: $darkGray;
    transition: border-color 0.10s ease-in-out;
    resize: none;

    &:disabled {
      color: $black;
    }

    &::placeholder {
      color: $mediumGray;
    }

    &:focus {
      &::placeholder {
        color: $lightGray !important;
      }
    }
  }
}