.user-controls {
  font-family: $regularFont;
  color: $black;
  display: flex;
  width: 100%;
  transform: translateY(-26px);
  flex-shrink: 0;
  height: 30px;
  align-items: center;
  // min-width: 1024px;
  padding: 0px 30px;
}
// test
.edit-perm {
  line-height: 0;
  position: relative;
  top: 10px;
  cursor: pointer;
  display: inline-block;
  transition: color 0.1s ease-in-out;
  &:hover {
    color: $mediumGray;
  }
}

.tag {
  font-size: 10px;
  display: inline-block;
  color: white;
  background-color: $red;
  padding: 4px 6px;
  border-radius: 4px;
  text-transform: uppercase;
  border: none;
  margin-right: 4px;
  user-select: none;
}

.tag-list {
  display: flex;

  button, div {
    border-radius: 30px;
    outline: none;
    border: none;
    background-color: $lightGray;
    color: $darkGray;
    font-family: $thinFont;
    font-size: 16px;
    padding: 5px 10px;
    cursor: pointer;
    margin-right: 12px;
    width: auto;
    transition: all 0.1s ease-in-out;

    span {
      margin-left: 6px;
      border-radius: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      height: 20px;
      width: 20px;
      background-color: $lightGray;
      color: $black;
      font-size: 12px;
      font-family: $regularFont;
    }

    &.active {
      background-color: $red;
      color: white;
    }
  }
}

.actions {
  .material-icons {
    cursor: pointer;
    transition: color 0.1s ease-in-out;
    &:hover {
      color: $mediumGray;
    }
  }
  .glow {
    cursor: pointer;
    transition: filter 0.1s ease-in-out;
    &:hover {
      filter: brightness(180%);
    }
  }
}

.floating {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  right: 42px;
  transform: translateY(10px);
  cursor: pointer;
  
  .submit {
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 100%;
    width: 62px;
    height: 62px;
    background-color: $red;
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
    &:hover {
      background-color: #CCC;
    }
  }
}

.users {
  table {
    table-layout: fixed;
  }
}