// SCSS variables
$red: #c52026;
$gradient: linear-gradient(235deg, #000000, #2c2c2c);
$lightGray: #DFDFDF;
$lightGray2: #BBB;
$mediumGray: #9B9B9B;
$bgGray: #ECF0F1;
$darkGray2: #6D6D6D;
$darkGray: #606060;
$black: #1C1C1C;
$thinFont: 'Proxima Nova Th', Georgia, sans-serif;
$regularFont: 'Proxima Nova Rg', Georgia, sans-serif;