@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Rg';
	src: url('ProximaNova-Bold.woff2') format('woff2');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova Th';
	src: url('ProximaNovaT-Thin.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
