<div id="home" class="box min-width">
  <div class="dash">
    <div class="column">
      <div class="title">
        <i class="material-icons">access_time</i><span>Waiting tickets</span><span class="counter">{{home.tickets.length}}</span>
      </div>
      <div class="list">
        <div ng-if="!home.tickets.length && !home.loading" class="empty">No pending tickets</div>

        <div ng-if="home.loading" class="placeholders">
          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>

          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>

          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>
        </div>

        <div class="ticket" ng-repeat="ticket in home.tickets | orderBy: ['-date','-time']">
          <div class="text">
            <span>No. {{ticket.ref}} {{ticket.temp.title | uppercase}}</span>
            <p class="capitalize">{{ticket.name}} {{ticket.lastName}} {{ticket.displayName}}</p>
            <p>{{ticket.temp.timeAgo}}</p>
            <div class="specific-data" ng-if="ticket.category === 'chat'">
              <p>{{ticket.temp.about}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'Luxurious'">
              <p>{{ticket.temp.serviceModule}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carcargo'">
              <p>{{ticket.temp.mode}}</p>
              <p>{{ticket.temp.serviceTime}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'rentcar'">
              <p>{{ticket.rentcar.car.make}} {{ticket.rentcar.car.name}}</p>
              <p>for {{ticket.temp.serviceTime}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carsupermarket'">
              <p class="capitalize">{{ticket.type}}</p>
              <p>for {{ticket.carInfo.year}} {{ticket.carInfo.make}} {{ticket.carInfo.model}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carservices' || ticket.category === 'cartuning'">
              <p class="capitalize">{{ticket.serviceModule}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carinsurance'">
              <p>for {{ticket.year}} {{ticket.make}} {{ticket.model}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'QuickInsurance'">
              <p class="capitalize">for {{ticket.selectedInsurance.body}}</p>
            </div>
          </div>
          <div>
            <i class="material-icons" ng-click="home.viewDetails(ticket)">edit</i>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="title">
        <i class="material-icons">check_circle_outline</i><span>Approved tickets</span>
      </div>
      <div class="list">
        <div ng-if="!home.myTickets.length && !home.loading" class="empty">No approved tickets</div>

        <div ng-if="home.loading" class="placeholders">
          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>

          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>

          <div class="ticket">
            <div class="text">
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
              <div class="placeholder line"></div>
            </div>
          </div>
        </div>

        <div class="ticket" ng-repeat="ticket in home.myTickets | orderBy:['-attended_date','-attended_time']">
          <div class="text">
            <span>No. {{ticket.ref}} {{ticket.temp.title | uppercase}}</span>
            <p class="capitalize">{{ticket.name}} {{ticket.lastName}} {{ticket.displayName}}</p>
            <p>{{ticket.temp.timeAgo}}</p>
            <div class="specific-data" ng-if="ticket.category === 'chat'">
              <p>{{ticket.temp.about}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'Luxurious'">
              <p>{{ticket.temp.serviceModule}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carcargo'">
              <p>{{ticket.temp.mode}}</p>
              <p>{{ticket.temp.serviceTime}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'rentcar'">
              <p>{{ticket.rentcar.car.make}} {{ticket.rentcar.car.name}}</p>
              <p>for {{ticket.temp.serviceTime}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carsupermarket'">
              <p class="capitalize">{{ticket.type}}</p>
              <p>for {{ticket.carInfo.year}} {{ticket.carInfo.make}} {{ticket.carInfo.model}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carservices' || ticket.category === 'cartuning'">
              <p class="capitalize">{{ticket.serviceModule}}</p>
            </div>
            <div class="specific-data" ng-if="ticket.category === 'carinsurance'">
              <p>for {{ticket.year}} {{ticket.make}} {{ticket.model}}</p>
            </div>
          </div>
          <div>
            <i class="material-icons" ng-click="home.viewDetails(ticket)">edit</i>
          </div>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="title">
        <i class="material-icons">highlight_off</i><span>Rejected tickets</span>
      </div>
        <div class="list">
          <div ng-if="!home.rejectedTickets.length && !home.loading" class="empty">No rejected tickets</div>

          <div ng-if="home.loading" class="placeholders">
            <div class="ticket">
              <div class="text">
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
              </div>
            </div>
  
            <div class="ticket">
              <div class="text">
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
              </div>
            </div>
  
            <div class="ticket">
              <div class="text">
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
                <div class="placeholder line"></div>
              </div>
            </div>
          </div>

          <div class="ticket" ng-repeat="ticket in home.rejectedTickets | orderBy:['-attended_date','-attended_time']">
            <div class="text">
              <span>No. {{ticket.ref}} {{ticket.temp.title | uppercase}}</span>
              <p class="capitalize">{{ticket.name}} {{ticket.lastName}} {{ticket.displayName}}</p>
              <p>{{ticket.temp.timeAgo}}</p>
              <div class="specific-data" ng-if="ticket.category === 'chat'">
                <p>{{ticket.temp.about}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'Luxurious'">
                <p>{{ticket.temp.serviceModule}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'carcargo'">
                <p>{{ticket.temp.mode}}</p>
                <p>{{ticket.temp.serviceTime}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'rentcar'">
                <p>{{ticket.rentcar.car.make}} {{ticket.rentcar.car.name}}</p>
                <p>for {{ticket.temp.serviceTime}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'carsupermarket'">
                <p class="capitalize">{{ticket.type}}</p>
                <p>for {{ticket.carInfo.year}} {{ticket.carInfo.make}} {{ticket.carInfo.model}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'carservices' || ticket.category === 'cartuning'">
                <p class="capitalize">{{ticket.serviceModule}}</p>
              </div>
              <div class="specific-data" ng-if="ticket.category === 'carinsurance'">
                <p>for {{ticket.year}} {{ticket.make}} {{ticket.model}}</p>
              </div>
            </div>
            <div>
              <i class="material-icons" ng-click="home.viewDetails(ticket)">remove_red_eye</i>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>