<div class="box min-width history push">
    <div class="dash scrollable">
      <div class="user-controls">
        <div class="search" ng-click="pushHistory.toggleFilter()">
          <i class="material-icons">filter_list</i>
          <span>Filter by date</span>
        </div>
        <div ng-show="pushHistory.filters.active" class="date-filters" ng-form="frm">
          <input class="filter-input" max="{{pushHistory.today}}"
            ng-model="pushHistory.filters.minDate" placeholder="From" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
          <input class="filter-input" min="{{pushHistory.firstDate}}" max="{{pushHistory.today}}"
            ng-model="pushHistory.filters.maxDate" placeholder="To" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
          <i class="material-icons search" ng-click="pushHistory.resetFilter()">close</i>
          <i class="material-icons search" ng-click="pushHistory.applyFilter()">check</i>
          <span class="formMsg" ng-if="pushHistory.error">Please enter both dates</span>
        </div>

        <div class="flex-right">
          <a ui-sref="push">Back</a>
        </div>
      </div>
      <div class="table-container history-table">
        <table class="fixed">
          <tr>
            <th>Date/Time</th>
            <th>Content</th>
            <th>Sent By</th>
            <th>Sent To</th>
            <th class="actions"></th>
          </tr>
          <tr><td class="empty" ng-if="!pushHistory.notifications.length" colspan="8">There are no sent notifications</td></tr>
          <tr ng-repeat="push in pushHistory.notifications | orderBy:['-date','-time']">
            <td>{{push.temp.date}}<br>{{push.temp.time}}</td>
            <td class="truncate">{{push.content}}</td>
            <td>{{push.sent_by_name}}</td>
            <td ng-if="push.allUsers">All users</td>
            <td ng-if="!push.allUsers">{{push.users.length}} {{push.users.length > 1 ? 'recipients' : 'recipient'}}</td>
            <td class="actions"><i class="material-icons" ng-click="pushHistory.viewDetails(push)">remove_red_eye</i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>