<div id="menu">
  <div class="topbar">
    <div class="logo">
      <img src="../../assets/images/logo-fetgo.svg" alt="FETGO">
    </div>
    <div class="user">
      <div class="name" ng-class="{'placeholder' : !currentUser.data.name}">
        <span>{{currentUser.data.name}} {{currentUser.data.lastName}}</span>
      </div>
      <div class="type" ng-class="{'placeholder' : !currentUser.data.user_type_name}">
        <span>{{currentUser.data.user_type_name}}</span>
      </div>
      <div class="icons actions">
        <img src="../../assets/images/logout.svg" class="glow" ng-click="menu.signOut()">
      </div>
    </div>
    <div style="background-color: white">
      <div class="menu">
        <div class="item" ui-sref="home" ui-sref-active="active">
          <span>Tickets</span>
        </div>
        <div class="item" ui-sref="history" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>History</span>
        </div>
        <div class="item chat" ui-sref="chat" ui-sref-active="active">
          <span>Chat <i class="material-icons" ng-if="unread">new_releases</i></span>
        </div>
        <div class="item" ui-sref="sales" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Sales</span>
        </div>
        <div class="item" ui-sref="tuning" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Tuning</span>
        </div>
        <div class="item" ui-sref="rental" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Rental</span>
        </div>
        <div class="item" ui-sref="database" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Database</span>
        </div>
        <div class="item" ui-sref="insurance" ui-sref-active="active"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Insurance</span>
        </div>
        <div class="item" ui-sref="users({type: 'App User'})" ui-sref-active="active"
          ng-class="{'active' : menu.state.current.name === 'users'}"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Users</span>
        </div>
        <div class="item last" ui-sref="push" ui-sref-active="active"
          ng-class="{'active' : menu.currentState === 'pushHistory'}"
          ng-if="currentUser.data.user_type === 'ut-001'">
          <span>Notifications</span>
        </div>
        <div class="floating"
          ng-if="(('users' | isState) || ('tuning' | isState) || ('insurance' | isState) || ('rental' | isState)) && (currentUser.data.user_type === 'ut-001')"
          ng-click="menu.add()">
          <div class="submit">
            <i class="material-icons">add</i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>