<div class="box min-width users">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="tag-list">
        <div ng-repeat="type in types" ng-click="ins.setType(type.code); ins.getData()" ng-class="{'active' : query.type === type.code}" ng-if="type.code !== 'full_insurance'">{{type.name}}</div>
      </div>
    </div>
    <div class="user-controls" style="margin-top: 12px;">
      <div class="tag-list">
        <div ng-repeat="(key, value) in types[query.type].types" ng-click="ins.setService(key); ins.getData()" ng-class="{'active' : query.service === key}">{{value}} <span ng-if="query.service === key">{{ins.rows}}</span></div>
      </div>
    </div>
    <div class="table-container">
      <table class="fixed" ng-if="query.type === 'express_insurance'">
        <tr>
          <th>Company</th>
          <th>Min. Year</th>
          <th>TPL Limit</th>
          <th>{{query.type === 'van' ? '1 Ton Rate' : '4 Cyl. Rate'}}</th>
          <th>{{query.type === 'van' ? '2 Ton Rate' : '6 Cyl. Rate'}}</th>
          <th>{{query.type === 'van' ? '3 Ton Rate' : '8 Cyl. Rate'}}</th>
          <th class="actions"></th>
        </tr>
        <tr ng-repeat="(key, value) in ins.data">
          <td>{{value.company_name}}</td>
          <td>
            <span ng-if="ins.editable.company_name !== value.company_name">{{value.minimum_year}}</span>
            <input ng-if="ins.editable.company_name === value.company_name" 
              type="text" ng-model="ins.editable.minimum_year" placeholder="Min. Year">
          </td>
          <td>
            <span ng-if="ins.editable.company_name !== value.company_name">{{value.tpl_limit | currency: 'AED ' : 0}}</span>
            <input ng-if="ins.editable.company_name === value.company_name" 
              type="text" ng-model="ins.editable.tpl_limit" placeholder="TPL Limit">
          </td>
          <td>
            <span ng-if="ins.editable.company_name !== value.company_name">{{value.ton_1 || value.cylinders_4 | currency: 'AED ' : 0}}</span>
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.ton_1" 
              type="text" ng-model="ins.editable.ton_1" placeholder="1 Ton Rate">
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.cylinders_4" 
              type="text" ng-model="ins.editable.cylinders_4" placeholder="4 Cyl. Rate">
          </td>
          <td>
            <span ng-if="ins.editable.company_name !== value.company_name">{{value.ton_2 || value.cylinders_6 | currency: 'AED ' : 0}}</span>
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.ton_2" 
              type="text" ng-model="ins.editable.ton_2" placeholder="2 Ton Rate">
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.cylinders_6" 
              type="text" ng-model="ins.editable.cylinders_6" placeholder="6 Cyl. Rate">
          </td>
          <td>
            <span ng-if="ins.editable.company_name !== value.company_name">{{value.ton_3 || value.cylinders_8 | currency: 'AED ' : 0}}</span>
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.ton_3" 
              type="text" ng-model="ins.editable.ton_3" placeholder="3 Ton Rate">
            <input ng-if="ins.editable.company_name === value.company_name && ins.editable.cylinders_8" 
              type="text" ng-model="ins.editable.cylinders_8" placeholder="8 Cyl. Rate">
          </td>
          <td class="actions" ng-if="ins.editable.company_name !== value.company_name">
            <i class="material-icons" ng-click="ins.setEditableRow(key, value)">edit</i>
            <i class="material-icons" ng-if="ins.rows > 1" ng-click="ins.deleteModal(key, value)">delete</i>
          </td>
          <td class="actions" ng-if="ins.editable.company_name === value.company_name">
            <i class="material-icons" ng-click="ins.resetEditable()">close</i>
            <i class="material-icons" ng-click="ins.updateRow()">check</i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>