<div class="box min-width push">
  <div class="dash scrollable">
    <div class="user-controls">
      <a ui-sref="pushHistory">View sent notifications</a>
    </div>
    <div class="flex-row">
      <div class="user-list">
        <div class="table-container">
          <table>
            <tr>
              <td colspan="2">
                <button ng-click="push.toggleAll()">{{push.selectAll ? 'Unselect All' : 'Select All'}}</button>
                <input type="text" placeholder="Search by keyword" class="filter-input" ng-model="push.keyword">
              </td>
            </tr>
            <tr ng-repeat="user in push.users | orderBy:['name','lastName'] | filter: push.keyword as filtered">
              <td>
                <input type="checkbox"
                  checklist-model="push.selectedUsers" checklist-value="user"
                  ng-click="push.updateUserList()" id="{{user.$id}}">
              </td>
              <td class="align-left">
                <label for="{{user.$id}}">
                  <span class="capitalize">{{user.name}} {{user.lastName}} {{user.displayName}}</span> <br>
                  <span>{{user.email || user.phone}}</span>
                </label>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="table-container push-content">
        <textarea placeholder="Recipients" class="recipients" ng-model="push.recipients" disabled></textarea>
        <textarea placeholder="Push notification message" ng-model="push.pushContent"></textarea>
        <div class="push-counter" ng-if="push.selectedUsers.length">
          <span class="attach" ng-click="push.showAttachmentModal()">
            <i class="material-icons">attach_file</i> {{activeModalData.files[0].name ? (activeModalData.files[4].name ? '5' : (activeModalData.files.length - 1)) + ' files' : 'Attach Files'}}
          </span>
          <span>Notification will be sent to {{push.selectedUsers.length}} users</span>
        </div>
        <button class="submit" ng-disabled="!push.pushContent.length || !push.selectedUsers.length || push.loading" ng-click="push.sendNotification()">SEND</button>
      </div>
    </div>
  </div>
</div>