<div class="box min-width users">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="tag-list">
        <div ui-sref="users({type: 'App User'})" ng-class="{ 'active' : users.active === 'App User'}">App Users <span ng-if="users.active === 'App User'">{{filtered.length}}</span></div>
        <div ui-sref="users({type: 'Agent'})" ng-class="{ 'active' : users.active === 'Agent'}">Agents <span ng-if="users.active === 'Agent'">{{filtered.length}}</span></div>
        <div ui-sref="users({type: 'Admin'})" ng-class="{ 'active' : users.active === 'Admin'}">Admins <span ng-if="users.active === 'Admin'">{{filtered.length}}</span></div>
      </div>
      <div class="search" ng-click="users.toggleSearch()"><i class="material-icons">search</i></div>
      <input type="text" class="filter-input" placeholder="Search by keyword" ng-show="users.filter" ng-model="users.keyword">
    </div>

    <div class="table-container">
      <table class="fixed">
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th ng-if="users.active === 'App User'">Phone</th>
          <th ng-if="users.active === 'App User'">Country</th>
          <th ng-if="users.active === 'Agent'">Permissions</th>
          <th class="actions"></th>
        </tr>
        <tr><td class="empty" ng-if="!filtered.length" colspan="5">No results found</td></tr>
        <tr ng-repeat="user in users.users | orderBy:['name'] | filter: users.keyword as filtered">
          <td class="capitalize">{{user.name}} {{user.lastName}} {{user.displayName}}</td>
          <td class="wrap">{{user.email || 'N/A'}}</td>
          <td ng-if="users.active === 'App User'">{{user.country.dial_code}} {{user.phone}}</td>
          <td class="truncate"  ng-if="users.active === 'App User'">{{user.country.name || user.country.label}}</td>
          <td ng-if="users.active === 'Agent'" style="text-align: left">
            <span class="tag" ng-repeat="permission in user.permissions">{{permission}}</span>
            <i class="material-icons edit-perm" ng-if="currentUser.data.user_type === 'ut-001'" ng-click="users.showModal(14, user)">edit</i>
          </td>
          <td class="actions">
            <i class="material-icons" ng-if="users.active === 'App User'" ng-click="users.showModal(2,user)">remove_red_eye</i>
            <i class="material-icons" ng-click="users.showModal(3,user)">cached</i>
            <i class="material-icons" ng-if="currentUser.data.user_type === 'ut-001'" ng-click="users.showModal(4,user)" ng-class="{'error': user.blocked}">block</i>
            <i class="material-icons" ng-if="currentUser.data.user_type === 'ut-001'" ng-click="users.showModal(6,user)">notifications</i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>