<div class="box min-width history">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="search" ng-click="history.toggleFilter()">
        <i class="material-icons">filter_list</i>
        <span>Filter by date</span>
      </div>
      <div ng-show="history.filters.active" class="date-filters" ng-form="frm">
        <input class="filter-input" max="{{history.today}}"
          ng-model="history.filters.minDate" placeholder="From" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
        <input class="filter-input" min="{{history.firstDate}}" max="{{history.today}}"
          ng-model="history.filters.maxDate" placeholder="To" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
        <i class="material-icons search" ng-click="history.resetFilter()">close</i>
        <i class="material-icons search" ng-click="history.applyFilter()">check</i>

        <span class="formMsg" ng-if="history.error">Please enter both dates</span>
      </div>
    </div>
    <div class="table-container">
      <table>
        <tr>
          <th>Ref. No.</th>
          <th>Date/Time</th>
          <th>Attended<br>Date/Time</th>
          <th>Status</th>
          <th>Category</th>
          <th>Client</th>
          <th>Attended by</th>
          <th class="actions"></th>
        </tr>
        <tr><td class="empty" ng-if="!history.tickets.length" colspan="8">You haven't attended any tickets yet</td></tr>
        <tr ng-repeat="ticket in history.tickets | orderBy:['-date','-time']">
          <td>{{ticket.ref}}</td>
          <td>{{ticket.temp.date}}<br>{{ticket.temp.time}}</td>
          <td>{{ticket.temp.attended_date}}<br>{{ticket.temp.attended_time}}<br>(+ {{ticket.temp.attended_difference}})</td>
          <td class="capitalize">{{ticket.status}}</td>
          <td>{{ticket.temp.title}}<br><span class="capitalize" ng-if="ticket.category === 'carservices' || ticket.category === 'Luxurious' || ticket.category === 'cartuning'">({{ticket.temp.serviceModule || ticket.serviceModule}})</span></td>
          <td class="capitalize">{{ticket.name}} {{ticket.lastName}} {{ticket.displayName}}</td>
          <td class="capitalize">{{ticket.attended_by_name}}</td>
          <td class="actions"><i class="material-icons" ng-click="history.viewDetails(ticket)">remove_red_eye</i></td>
        </tr>
      </table>
    </div>
  </div>
</div>