<div id="home" class="box min-width db">
  <div class="dash">
    <div class="column">
      <div class="title">
        <i class="material-icons">today</i><span>Select Year</span>
      </div>
      <div class="list" style="padding: 0px !important;">
        <div class="item" ng-class="{'active' : db.query.year === year}" ng-click="db.setYear(year)" ng-repeat="year in db.years">
          <span>{{year}}</span>
        </div>
      </div>
    </div>

    <div class="column" ng-class="{'noInfo' : !db.makes}">
      <div class="title">
        <i class="material-icons action" ng-if="db.makes" ng-click="db.toggleSearch('make')">search</i>
        <span ng-if="!db.makeSearch">Makes</span>
        <input class="filter-input" type="text" placeholder="Search make" ng-if="db.makeSearch" ng-model="db.kwMake">
      </div>
      <div class="list">
        <div class="item" ng-class="{'active' : db.query.make === make.make_display}" ng-click="db.setMake(make.make_display)" ng-repeat="make in db.makes | orderBy:'make_display' | filter: db.kwMake as filteredMakes">
          <span>{{make.make_display}}</span>
          <i class="material-icons action" ng-if="make.registeredFromWeb" ng-click="db.deleteItem($event, 'make', make.make_display)">close</i>
        </div>
      </div>
      <div class="item sticky new no-link" ng-if="db.makes && db.showMakeInput">
        <input type="text" placeholder="Enter new make" class="new-input" ng-model="db.newMake">
        <i class="material-icons action" ng-click="db.toggleInput('make')">close</i>
        <i class="material-icons action" ng-click="db.submitNew('make')">check</i>
      </div>
      <div class="item add sticky" ng-if="db.makes && !db.showMakeInput" ng-click="db.toggleInput('make')">
        <span>ADD MAKE</span>
      </div>
    </div>

    <div class="column" ng-class="{'noInfo' : !db.models}">
      <div class="title">
        <i class="material-icons action" ng-if="db.models" ng-click="db.toggleSearch('model')">search</i>
        <span ng-if="!db.modelSearch">Models</span>
        <input class="filter-input" placeholder="Search model" type="text" ng-if="db.modelSearch" ng-model="db.kwModel">
      </div>
      <div class="list">
        <div class="item" ng-class="{'active' : db.query.model === model.model_name}" ng-click="db.setModel(model.model_name)" ng-repeat="model in db.models | orderBy:'model_name' | filter: db.kwModel as filteredModels">
          <span>{{model.model_name}}</span>
          <i class="material-icons action" ng-if="model.registeredFromWeb" ng-click="db.deleteItem($event, 'model', model.model_name)">close</i>
        </div>
      </div>
      <div class="item sticky new no-link" ng-if="db.models && db.showModelInput">
        <input type="text" placeholder="Enter new model" class="new-input" ng-model="db.newModel">
        <i class="material-icons action" ng-click="db.toggleInput('model')">close</i>
        <i class="material-icons action" ng-click="db.submitNew('model')">check</i>
      </div>
      <div class="item add sticky" ng-if="db.models && !db.showModelInput" ng-click="db.toggleInput('model')">
        <span>ADD MODEL</span>
      </div>
    </div>

    <div class="column" ng-class="{'noInfo' : !db.modelTypes}">
      <div class="title">
        <i class="material-icons action" ng-if="db.modelTypes" ng-click="db.toggleSearch('modelType')">search</i>
        <span ng-if="!db.modelTypeSearch">Model Trims</span>
        <input class="filter-input" type="text" placeholder="Search trim" ng-if="db.modelTypeSearch" ng-model="db.kwModelTypes">
      </div>
      <div class="list">
        <div class="item no-link" ng-repeat="type in db.modelTypes | orderBy:'model_trim' | filter: db.kwModelTypes as filteredModelTypes">
          <span class="truncate">{{type.model_trim}}</span>
          <i class="material-icons action" ng-if="type.registeredFromWeb" ng-click="db.deleteItem($event, 'modelType',type.model_trim)">close</i>
        </div>
      </div>
      <div class="item sticky new no-link" ng-if="db.modelTypes && db.showModelTypeInput">
        <input type="text" placeholder="Enter new type" class="new-input" ng-model="db.newModelType">
        <i class="material-icons action" ng-click="db.toggleInput('modelType')">close</i>
        <i class="material-icons action" ng-click="db.submitNew('modelType')">check</i>
      </div>
      <div class="item add sticky" ng-if="db.modelTypes && !db.showModelTypeInput" ng-click="db.toggleInput('modelType')">
        <span>ADD TRIM</span>
      </div>
    </div>

  </div>
</div>