<div class="box min-width history">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="search" ng-click="sales.toggleFilter()">
        <i class="material-icons">filter_list</i>
        <span>Filter by date</span>
      </div>
      <div ng-show="sales.filters.active" class="date-filters" ng-form="frm">
        <input class="filter-input" max="{{sales.today}}"
          ng-model="sales.filters.minDate" placeholder="From" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
        <input class="filter-input" min="{{sales.firstDate}}" max="{{sales.today}}"
          ng-model="sales.filters.maxDate" placeholder="To" onfocus="(this.type='date')" onblur="(this.value ? null : this.type='text')">
        <i class="material-icons search" ng-click="sales.resetFilter()">close</i>
        <i class="material-icons search" ng-click="sales.applyFilter()">check</i>

        <span class="formMsg" ng-if="history.error">Please enter both dates</span>
      </div>
    </div>
    <div class="table-container">
      <table class="fixed">
        <tr>
          <th>Date/Time</th>
          <th>Car</th>
          <th>Description</th>
          <th>Price</th>
          <th>User Info</th>
          <th>Status</th>
          <th class="actions"></th>
        </tr>
        <tr><td class="empty" ng-if="!sales.sales.length" colspan="6">There aren't any sales to approve</td></tr>
        <tr ng-repeat="sale in sales.sales | orderBy:['-date','-time']">
          <td>{{sale.temp.date}} {{sale.temp.time}}</td>
          <td>{{sale.car.year}} {{sale.car.make}} {{sale.car.model}} {{sale.car.modelDetail.label || sale.car.modelDetail}}</td>
          <td>{{sale.description}}</td>
          <td>AED {{sale.price}}</td>
          <td>{{sale.user.email}}<br>{{sale.user.phone}}</td>
          <td class="capitalize">{{sale.status}}</td>
          <td class="actions"><i class="material-icons" ng-click="sales.showModal(sale)">remove_red_eye</i></td>
        </tr>
      </table>
    </div>
  </div>
</div>