<!-- Ticket details modal -->
<div class="overlay" ng-if="modalType === 0">
  <div class="modal">
    <div class="title">
      <img src="../../assets/images/logo-fetgo.svg" alt="FETGO">
      <span>Ticket Details</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">

      <div class="info">
        <label class="no">Ticket No. {{activeModalData.ref}}</label>
        <div ng-if="activeModalData.attended_by">
          <span class="label">Attended by</span>
          <span class="text">{{activeModalData.attended_by_name}} - {{activeModalData.temp.attended_date}} ({{activeModalData.temp.attended_time}})</span>
        </div>
        <div ng-if="activeModalData.status === 'completed'">
          <span class="label">Completed time</span>
          <span class="text">{{activeModalData.temp.completed_date}} {{activeModalData.temp.completed_time}}</span>
        </div>
        <div ng-if="activeModalData.status === 'rejected'">
          <span class="label">Rejected time</span>
          <span class="text">{{activeModalData.temp.completed_date}} {{activeModalData.temp.completed_time}}</span>
        </div>
        <div ng-if="activeModalData.status">
          <span class="label">Status</span>
          <span class="text capitalize">{{activeModalData.status}}</span>
        </div>
        <div>
          <span class="label">Customer</span>
          <span class="text capitalize">{{activeModalData.name || activeModalData.user.name}} {{activeModalData.lastName || activeModalData.user.lastName}} {{activeModalData.displayName}} {{activeModalData.country.name ? '(' + activeModalData.country.name + ')' : null}}</span>
        </div>
        <div ng-if="activeModalData.email">
          <span class="label">Email</span>
          <span class="text">{{activeModalData.email}}</span>
        </div>
        <div ng-if="activeModalData.category !== 'cartuning'">
          <span class="label">Phone</span>
          <span class="text" ng-if="activeModalData.category !== 'carinsurance'">{{activeModalData.country.dial_code}} {{activeModalData.phone}} {{activeModalData.for.Number}} {{activeModalData.mobileNumber}}</span>
          <span class="text" ng-if="activeModalData.category === 'carinsurance'">{{activeModalData.mobileNumber}}</span>
          <span class="text" ng-if="activeModalData.category === 'Luxurious'">{{activeModalData.phone || activeModalData.for.phone}}</span>
        </div>
        <div class="docs" ng-if="activeModalData.category === 'rentcar'">
          <span class="label">Documents</span>
          <a ng-click="modals.openPic(activeModalData.document)">ID (front)</a>
          <a ng-click="modals.openPic(activeModalData.documentBack)">ID (back)</a>
          <a ng-click="modals.openPic(activeModalData.license)">Licence (front)</a>
          <a ng-click="modals.openPic(activeModalData.licenseback)">Licence (back)</a>
        </div>
        <div>
          <span class="label">Details</span>
          <div class="details" ng-if="activeModalData.category === 'chat'">
            <span class="text"><b>LIVE CHAT</b> - {{activeModalData.temp.about}}</span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'carcargo'">
            <span class="text"><b>{{activeModalData.temp.title}} - {{activeModalData.temp.mode}}</b></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text"><b>SERVICE DATE</b> {{activeModalData.temp.serviceTime}}</span>
            <span class="text" ng-if="activeModalData.for"><b>CONTACT INFO</b> {{activeModalData.for.phone}} <a ng-href="mailto:{{activeModalData.for.email}}" target="_blank">{{activeModalData.for.email}}</a></span>
            <span class="text" ng-if="activeModalData.from"><b>FROM</b> {{activeModalData.from}}</span>
            <span class="text" ng-if="activeModalData.to"><b>TO</b> {{activeModalData.to}}</span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'rentcar'">
            <span class="text"><b>{{activeModalData.temp.title}}</b></span>
            <span class="text"><b>CAR</b> {{activeModalData.rentcar.car.year}} {{activeModalData.rentcar.car.make}} {{activeModalData.rentcar.car.name}} ({{activeModalData.rentcar.car.category}})</span>
            <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text"><b>SERVICE TIME</b> {{activeModalData.temp.serviceTime}}</span>
            <span class="text"><b>PRICE</b> AED {{activeModalData.rentcar.price}}</span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'carsupermarket'">
            <span class="text capitalize"><b>{{activeModalData.temp.title}} - {{activeModalData.type}}</b></span>
            <span class="text"><b>CAR</b> {{activeModalData.carInfo.year}} {{activeModalData.carInfo.make}} {{activeModalData.carInfo.model}} {{activeModalData.carInfo.modelDetail.label !== 'default' ? activeModalData.carInfo.modelDetail.label : null}} (S/N: {{activeModalData.carInfo.chassisNumber || 'N/A'}})</span>
            <span class="text"><b>ITEM</b> {{activeModalData.item.name}}</span>
            <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'carservices'">
            <span class="text capitalize"><b>{{activeModalData.temp.title}} - {{activeModalData.serviceModule}}</b></span>
            <span class="text" ng-if="activeModalData.model"><b>CAR</b> {{activeModalData.year}} {{activeModalData.make || activeModalData.carName}} {{activeModalData.model}} {{activeModalData.modelDetail.label !== 'default' ? activeModalData.modelDetail.label : null}}</span>
            <span class="text" ng-if="activeModalData.modelDetails"><b>DETAILS</b> {{activeModalData.modelDetails}}</span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text" ng-if="activeModalData.position"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.position.latitude}},{{activeModalData.position.longitude}}" target="_blank">View on map</a></span>
            <div class="details" ng-if="activeModalData.serviceModule === 'body and paint'">
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.mobileNumber}} <a ng-href="mailto:{{activeModalData.emailAddress}}" target="_blank">{{activeModalData.emailAddress}}</a></span>
              <span class="text car-paint"><b>CAR PAINT</b><div ng-style="{'background-color':activeModalData.colorSelected}"></div> </span>
              <span class="text"><b>NEEDS FIXING?</b> {{activeModalData.fixing ? 'Yes' : 'No'}}</span>
              <span class="text"><b>PART OR FULL?</b> {{activeModalData.part ? 'Part' : 'Full'}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'battery'">
              <span class="text"><b>EMERGENCY ON ROAD?</b> {{activeModalData.temp.emergencyOnRoad ? 'Yes' : 'No'}}</span>
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.for.Number}} <a ng-href="mailto:{{activeModalData.for.email}}" target="_blank">{{activeModalData.for.email}}</a></span>
              <span class="text"><b>NOTES</b> {{activeModalData.note}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'tires'">
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.mobileNumber}} <a ng-href="mailto:{{activeModalData.emailAddress}}" target="_blank">{{activeModalData.emailAddress}}</a></span>
              <span class="text"><b>MANUAL/AUTO</b> {{activeModalData.manualProfile ? 'Manual' : 'Auto'}}</span>
              <span class="text"><b>TIRE INFORMATION</b> {{activeModalData.tireWidth.first}}{{activeModalData.tireWidth.second}}{{activeModalData.tireWidth.third}} {{activeModalData.sizeProfile.first}}{{activeModalData.sizeProfile.second}} {{activeModalData.size.first}}{{activeModalData.size.second}}</span>
              <span class="text"><b>EMERGENCY ON ROAD?</b> {{activeModalData.temp.emergencyOnRoad ? 'Yes' : 'No'}}</span>
              <span class="text"><b>BUY TIRES?</b> {{activeModalData.buyTires? 'Yes' : 'No'}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'recovery service'">
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.for.mobileNumber}} <a ng-href="mailto:{{activeModalData.for.emailAddress}}" target="_blank">{{activeModalData.for.emailAddress}}</a></span>
              <span class="text"><b>BODY TYPE</b> {{activeModalData.isSedan ? 'Sedan' : 'SUV'}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'Oil Service'">
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.mobileNumber}} <a ng-href="mailto:{{activeModalData.emailAddress}}" target="_blank">{{activeModalData.emailAddress}}</a></span>
              <span class="text"><b>MANUAL/AUTO</b> {{activeModalData.manualProfile ? 'Manual' : 'Auto'}}</span>
              <span class="text"><b>CAR FILTER</b> {{activeModalData.carFilter ? 'Yes' : 'No'}}</span>
              <span class="text"><b>KM.</b> {{activeModalData.fiveChecked ? '5000' : ' '}} {{activeModalData.tenChecked ? '10000' : ' '}}</span>
              <span class="text"><b>TYPE</b> {{activeModalData.anyType ? 'Any' : activeModalData.specificBrand}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'luxury wash'">
              <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
              <span class="text"><b>WASH TYPE</b> {{activeModalData.typeWash.title}}</span>
              <span class="text"><b>SEDAN?</b> {{activeModalData.sedanSelected ? 'Yes -' : 'No'}} {{activeModalData.sedan1Time ? '1 Time' : null}} {{activeModalData.sedan4Time ? '4 Time' : null}}</span>
              <span class="text"><b>SUV?</b> {{activeModalData.suvSelected ? 'Yes -' : 'No'}} {{activeModalData.suv1Time ? '1 Time' : null}} {{activeModalData.suv4Time ? '4 Time' : null}}</span>
              <span class="text"><b>NUMBER OF VEHICLES</b> {{activeModalData.sedanQuantity.includes('-') ? null : activeModalData.sedanQuantity + ' Sedan'}} {{activeModalData.suvQuantity.includes('-') ? null : activeModalData.suvQuantity + ' SUV'}}</span>
              <span class="text"><b>TOTAL + AED {{activeModalData.tax}} (5% VAT)</b> AED {{activeModalData.amount}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'economy wash'">
              <span class="text"><b>SEDAN?</b> {{activeModalData.sedanSelected ? 'Yes -' : 'No'}} {{activeModalData.external40 ? 'External' : null}} {{activeModalData.internal15 ? 'Internal' : null}} {{activeModalData.engine15 ? 'Engine' : null}}</span>
              <span class="text"><b>SUV?</b> {{activeModalData.suvSelected ? 'Yes -' : 'No'}} {{activeModalData.external45 ? 'External' : null}} {{activeModalData.internal20 ? 'Internal' : null}} {{activeModalData.engine20 ? 'Engine' : null}}</span>
              <span class="text"><b>NUMBER OF VEHICLES</b> {{activeModalData.sedanQuantity.includes('-') ? null : activeModalData.sedanQuantity + ' Sedan'}} {{activeModalData.suvQuantity.includes('-') ? null : activeModalData.suvQuantity + ' SUV'}}</span>
              <span class="text"><b>TOTAL + AED {{activeModalData.tax}} (5% VAT)</b> AED {{activeModalData.amount}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'brake shoe'">
              <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.mobileNumber}} <a ng-href="mailto:{{activeModalData.emailAddress}}" target="_blank">{{activeModalData.emailAddress}}</a></span>
              <span class="text"><b>FRONT/BACK?</b> {{activeModalData.front && activeModalData.back ? 'Both' : activeModalData.front ? 'Front' : 'Back'}}</span>
              <span class="text"><b>NOTES</b> {{activeModalData.note}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'on road and emergency'">
              <span class="text"><b>CONTACT INFO</b> {{activeModalData.for.mobileNumber}} <a ng-href="mailto:{{activeModalData.for.emailAddress}}" target="_blank">{{activeModalData.for.emailAddress}}</a></span>
              <span class="text"><b>MANUAL/AUTO</b> {{activeModalData.manualProfile ? 'Manual' : 'Auto'}}</span>
              <span class="text"><b>BODY TYPE</b> {{activeModalData.isSedan ? 'Sedan' : 'SUV'}}</span>
              <span class="text"><b>DESCRIPTION</b> {{activeModalData.problem}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'pre-purchase check up'">
              <span class="text capitalize"><b>PLAN</b> {{activeModalData.plan}}</span>
              <span class="text"><b>TOTAL</b> AED {{activeModalData.total}}</span>
            </div>
          </div>
          <div class="details" ng-if="activeModalData.category === 'carinsurance'">
            <span class="text"><b>{{activeModalData.temp.title}}</b></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text"><b>CAR</b> {{activeModalData.year}} {{activeModalData.make}} {{activeModalData.model}} {{activeModalData.modelDetail.label !== 'default' ? activeModalData.modelDetail.label : null}}</span>
            <span class="text"><b>NEW CAR</b> {{activeModalData.newCar ? 'Yes' : 'No'}}</span>
            <span class="text"><b>AGENCY REPAIR</b> {{activeModalData.needRepair ? 'Yes' : 'No'}}</span>
            <span class="text"><b>EMIRATES OF REGISTRATION</b> {{activeModalData.country}}</span>
            <span class="text"><b>CURRENT VEHICLE VALUE</b> AED {{activeModalData.currentValue}}</span>
            <span class="text"><b>VEHICLE IS GCC SPECIFICATION & NOT MODIFIED</b> {{activeModalData.carIsNotModified ? 'Yes' : 'No'}}</span>
            <span class="text"><b>CURRENT MOTOR INSURANCE POLICY EXPIRED</b> {{activeModalData.motorPolicyExpired ? 'Yes' : 'No'}} <a ng-click="modals.openPic(activeModalData.carTestingCertificate)" ng-if="activeModalData.carTestingCertificate">View</a></span>
            <span class="text"><b>FIRST YEAR OF VEHICLE REGISTRATION</b> {{activeModalData.temp.yearVehicleRegistration}}</span>
            <span class="text"><b>POLICY EXPIRATION DATE</b> {{activeModalData.temp.policyExpireDate}}</span>
            <span class="text"><b>BODY TYPE</b> {{activeModalData.is4W ? 'SUV' : 'Sedan'}}</span>
            <span class="text"><b>DATE OF BIRTH</b> {{activeModalData.temp.dateBirth}}</span>
            <span class="text"><b>HOW MANY YEARS CLIENT HAVE UAE DRIVER LICENCE?</b> {{activeModalData.drivingUAE}} years</span>
            <span class="text"><b>HOME COUNTRY LICENCE AVAILABLE</b> {{activeModalData.countryLicenseAvailable ? 'Yes' : 'No'}}</span>
            <span class="text"><b>NO CLAIM LETTER IS AVAILABLE</b> {{activeModalData.noClaimLetter ? 'Yes' : 'No'}} <a ng-if="activeModalData.noClaimLetter" ng-click="modals.openPic(activeModalData.claimLetterYear)">View</a></span>
            <span class="text" ng-if="activeModalData.noClaimLetter"><b>NO CLAIM LETTER YEARS</b> {{activeModalData.claimLetterSelectedYear}} years</span>
            <span class="text"><b>UAE DRIVING LICENCE COPY</b> <a ng-click="modals.openPic(activeModalData.frontLicense)">Front</a> <a ng-click="modals.openPic(activeModalData.backLicense)">Back</a></span>
            <span class="text"><b>EMIRATES ID</b> <a ng-click="modals.openPic(activeModalData.frontEmiratesId)">Front</a> <a ng-click="modals.openPic(activeModalData.backLicense)">Back</a></span>
            <span class="text" ng-if="activeModalData.frontHomeCountryLicense"><b>HOME COUNTRY DRIVING LICENCE</b> <a ng-click="modals.openPic(activeModalData.frontHomeCountryLicense)">Front</a> <a ng-click="modals.openPic(activeModalData.backHomeCountryLicense)">Back</a></span>
            <span class="text" ng-if="activeModalData.registrationCard"><b>REGISTRATION COPY</b> <a ng-click="modals.openPic(activeModalData.vehicleDetailDocument)">Front</a> <a ng-click="modals.openPic(activeModalData.vehicleDetailDocument2Side)">Back</a></span>
            <span class="text" ng-if="activeModalData.customCardCopy"><b>CUSTOM CARD COPY</b> <a ng-click="modals.openPic(activeModalData.vehicleDetailDocument)">View</a></span>
            <span class="text" ng-if="activeModalData.muroorTransferLetter"><b>MUROOR TRANSFER LETTER</b> <a ng-click="modals.openPic(activeModalData.vehicleDetailDocument)">View</a></span>
            <span class="text" ng-if="activeModalData.muroorPosseessionLetter"><b>MUROOR POSSESSION LETTER</b> <a ng-click="modals.openPic(activeModalData.vehicleDetailDocument)">View</a></span>
            <span class="text" ng-if="activeModalData.company"><b>COMPANY</b> {{activeModalData.company.agency}}</span>
            <span class="text" ng-if="activeModalData.company"><b>MINIMUM PRICE</b> AED {{activeModalData.company.minimum}}/mo</span>
            <span class="text" ng-if="activeModalData.personalAccidentDriver"><b>PERSONAL ACCIDENT BENEFITS DRIVER</b> {{activeModalData.personalAccidentDriver ? 'Yes' : 'No'}}</span>
            <span class="text" ng-if="activeModalData.personalAccidentPassenger"><b>PERSONAL ACCIDENT BENEFITS PASSENGER</b> {{activeModalData.personalAccidentPassenger ? 'Yes. ' + activeModalData.personalAccidentPassengerQuantity + ' passengers' : null}}</span>
            <span class="text" ng-if="activeModalData.roadSideAssistance"><b>ROAD SIDE ASSISTANCE BENEFITS</b> {{activeModalData.roadSideAssistance ? 'Yes' : 'No'}}</span>
            <span class="text" ng-if="activeModalData.rentCarBenefits"><b>RENT A CAR BENEFITS</b> {{activeModalData.rentCarBenefits ? 'Yes' : 'No'}}</span>
            <span class="text" ng-if="activeModalData.thirdPartyLiability"><b>THIRD PARTY LIABILITY</b> {{activeModalData.thirdPartyLiability ? 'Yes' : 'No'}}</span>
            <span class="text " ng-if="activeModalData.grandTotal"><b>GRAND TOTAL</b> AED {{activeModalData.grandTotal}}</span>
            <span class="text" ng-if="activeModalData.vatRegistration"><b>5% VAT</b> AED {{activeModalData.vatRegistration}}</span>
            <span class="text" ng-if="activeModalData.payment"><b>TOTAL PRICE AFTER VAT</b> AED {{activeModalData.payment}}</span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'QuickInsurance'">
            <span class="text"><b>{{activeModalData.temp.title}}</b></span>
            <span class="text"><b>CONTACT INFO</b> <a ng-href="mailto:{{activeModalData.for.email}}">{{activeModalData.for.email}}</a> {{activeModalData.for.phone}} </span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text capitalize"><b>CAR DETAILS</b> {{activeModalData.selectedInsurance.body}} <span ng-if="activeModalData.selectedInsurance.cyl"> - {{activeModalData.selectedInsurance.cyl}} Cylinders</span></span>
            <span class="text"><b>PRICE</b> AED {{activeModalData.selectedInsurance.cylinders_4 || activeModalData.selectedInsurance.cylinders_6 || activeModalData.selectedInsurance.cylinders_8 || activeModalData.selectedInsurance.ton_1 || activeModalData.selectedInsurance.ton_2 || activeModalData.selectedInsurance.ton_3}}</span>
            <span class="text"><b>COMPANY</b> {{activeModalData.selectedInsurance.companyName}}</span>
            <span class="text"><b>UAE DRIVING LICENCE COPY</b> <a ng-click="modals.openPic(activeModalData.licenseFront)">Front</a> <a ng-click="modals.openPic(activeModalData.licenseBack)">Back</a></span>
            <span class="text"><b>EMIRATES ID</b> <a ng-click="modals.openPic(activeModalData.eidBack)">Front</a> <a ng-click="modals.openPic(activeModalData.eidFront)">Back</a></span>
            <span class="text"><b>CAR DOCUMENT</b> <a ng-click="modals.openPic(activeModalData.carCardFront)">Front</a> <a ng-click="modals.openPic(activeModalData.carCardBack)">Back</a></span>
          </div>
          <div class="details" ng-if="activeModalData.category === 'Luxurious'">
            <span class="text capitalize"><b>{{activeModalData.temp.title}} - {{activeModalData.temp.serviceModule}}</b></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.time}}</span>
            <div class="details" ng-if="activeModalData.serviceModule === 'PRIVATEJET'">
              <span class="text"><b>MODE</b> {{activeModalData.oneWay ? 'One Way' : 'Two Way'}} - {{'(' + activeModalData.temp.selected}}{{activeModalData.temp.selectedtwo ? ' - ' + activeModalData.temp.selectedtwo + ')' : ')'}}</span>
              <span class="text"><b>FROM</b> {{activeModalData.selectedFrom}}</span>
              <span class="text"><b>TO</b> {{activeModalData.selectedTo}}</span>
              <span class="text"><b>CALL TIME</b> {{activeModalData.calltime}}</span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'CHOPPER'">
              <span class="text"><b>FROM</b> {{activeModalData.from.label}}</span>
              <span class="text"><b>TO</b> {{activeModalData.to.label}}</span>
              <span class="text"><b>DATE</b> {{activeModalData.temp.dateSelected}}</span>
              <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
            </div>
            <div class="details" ng-if="activeModalData.serviceModule === 'DESIGNATED DRIVER'">
              <span class="text"><b>SERVICE</b> {{activeModalData.driver}}</span>
              <span class="text"><b>VAT</b> AED {{activeModalData.vat}}</span>
              <span class="text"><b>TOTAL</b> AED {{activeModalData.total}}</span>
            </div>
          </div>
          <div class="details" ng-if="activeModalData.category === 'cartuning'">
            <span class="text capitalize"><b>{{activeModalData.temp.title}} - {{activeModalData.serviceModule}}</b></span>
            <span class="text"><b>REQUEST TIME</b> {{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
            <span class="text"><b>ITEM</b> {{activeModalData.itemName}}</span>
            <span class="text"><b>CONTACT INFO</b> {{activeModalData.for.Number}} <a ng-href="mailto:{{activeModalData.for.email}}">{{activeModalData.for.email}}</a></span>
            <span class="text"><b>PRICE</b> AED {{activeModalData.price}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="disclosure">
      <span class="text"><b>FETGO TEC FZCOS</b></span>
    </div>
    <div class="buttons">
      <button ng-click="modals.printOrder()" class="print">Print</button>
      <div>
        <button ng-click="modals.attendTicket(activeModalData,0)" ng-if="!activeModalData.attended_by">Reject</button>
        <button class="submit" ng-click="modals.attendTicket(activeModalData,1)" ng-if="!activeModalData.attended_by">Attend</button>
        <button class="submit" ng-click="modals.attendTicket(activeModalData,2)" ng-if="activeModalData.status === 'approved'">Complete</button>
      </div>
    </div>
  </div>
</div>
<!-- Ticket details modal END -->

<!-- Add user modal -->
<div class="overlay" ng-if="modalType === 1">
  <div class="modal">
    <div class="title">
      <span>Add user</span>
    </div>
    <div class="content">
      <div class="info form" ng-form="frm" novalidate>
        <div>
          <input type="text" name="name" placeholder="Name" ng-model="modals.activeModalData.name"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.name.$error" class="formMsg"
            ng-if='frm.name.$dirty && !modals.activeModalData.name'
            ng-cloak>
            <div ng-message="required">Name is required</div>
          </div>
        </div>
        <div>
          <input type="text" name="lastName" placeholder="Lastname" ng-model="modals.activeModalData.lastName"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.lastName.$error" class="formMsg"
            ng-if='frm.lastName.$dirty && !modals.activeModalData.lastName'
            ng-cloak>
            <div ng-message="required">Lastname is required</div>
          </div>
        </div>
        <div>
          <input type="email" name="email" placeholder="Email" ng-model="modals.activeModalData.email"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            required>
          <div ng-messages="frm.email.$error" class="formMsg"
            ng-if='frm.email.$dirty && !modals.activeModalData.email'
            ng-cloak>
            <div ng-message="required">Email is required</div>
          </div>
        </div>
        <div>
          <input type="password" name="pass" placeholder="Password" ng-model="modals.activeModalData.pass"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            required>
          <div ng-messages="frm.pass.$error" class="formMsg"
            ng-if='frm.pass.$dirty && !modals.activeModalData.pass'
            ng-cloak>
            <div ng-message="required">Password is required</div>
          </div>
        </div>
        <div>
          <input type="password" name="pass2" placeholder="Confirm Password" ng-model="modals.activeModalData.pass2"
            autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
            required>
          <div ng-messages="frm.pass2.$error" class="formMsg"
            ng-if='frm.pass2.$dirty && modals.activeModalData.pass !== modals.activeModalData.pass2'
            ng-cloak>
            <div ng-message="required">Passwords must match</div>
          </div>
        </div>
        <div>
          <select ng-model="modals.activeModalData.user_type" name="user_type" required>
            <option value="">Select user type</option>
            <option value="ut-001">Admin</option>
            <option value="ut-002">Agent</option>
          </select>
          <div ng-messages="frm.user_type.$error" class="formMsg"
            ng-if='frm.user_type.$dirty && !modals.activeModalData.user_type' required
            ng-cloak>
            <div ng-message="required">User type is required</div>
          </div>
        </div>
        <div ng-if="modals.activeModalData.user_type === 'ut-002'" class="checkDiv">
          <label><b>SET PERMISSIONS</b></label>
          <label for="{{key}}" ng-repeat="(key, value) in modals.permissions">
            <input type="checkbox" id="{{key}}" name="permissions.{{key}}" class="perms" checked>
            {{value}}
          </label>
          <div class="formMsg"
            ng-if="modals.formErr"
            ng-cloak>
            <div ng-message="required">Permissions are required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit formBtn" id="userBtn"
        ng-click="modals.createUser(frm)"
        ng-disabled="frm.$dirty && frm.$invalid || modals.loading">Create</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Add user modal END -->

<!-- View user modal -->
<div class="overlay" ng-if="modalType === 2">
  <div class="modal">
    <div class="title">
      <img src="../../assets/images/logo-fetgo.svg" alt="FETGO">
      <span>User Details</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="photo" ng-if="activeModalData.userPhoto">
        <img ng-src="{{activeModalData.userPhoto}}" alt="{{activeModalData.name}} {{activeModalData.lastName}}">
      </div>
      <div class="info" ng-class="{'with-photo' : activeModalData.userPhoto}">
        <label class="no">{{activeModalData.name}} {{activeModalData.lastName}}</label>
        <div>
          <span class="label">Phone</span>
          <span class="text">{{activeModalData.country.dial_code}} {{activeModalData.phone}}</span>
        </div>
        <div>
          <span class="label">Email</span>
          <a ng-href="mailto:{{activeModalData.email}}">{{activeModalData.email}}</a>
        </div>
        <div>
          <span class="label">Country</span>
          <span class="text">{{activeModalData.country.name || activeModalData.country.label}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View user modal END -->

<!-- Reset password modal -->
<div class="overlay" ng-if="modalType === 3">
  <div class="modal">
    <div class="title">
      <span>Reset user password</span>
    </div>
    <div class="content">
      <div class="info">
        <label class="no">Are you sure?</label>
        <div>
          <span class="text">This will send {{activeModalData.name}} {{activeModalData.lastName}} {{activeModalData.displayName}} a password reset email.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit" ng-click="modals.resetPass(activeModalData)">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Reset password modal END -->

<!-- Block user modal -->
<div class="overlay" ng-if="modalType === 4">
  <div class="modal">
    <div class="title">
      <span ng-if="!activeModalData.blocked">Block user</span>
      <span ng-if="activeModalData.blocked">Unblock user</span>
    </div>
    <div class="content">
      <div class="info">
        <label class="no">Are you sure?</label>
        <div>
          <span class="text" ng-if="!activeModalData.blocked">This will block {{activeModalData.name}} {{activeModalData.lastName}}'s access to the app.</span>
          <span class="text" ng-if="activeModalData.blocked">This will grant {{activeModalData.name}} {{activeModalData.lastName}} access to the app.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit" ng-click="modals.blockUser(activeModalData)">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Block user modal END -->

<!-- View sale modal -->
<div class="overlay" ng-if="modalType === 5">
  <div class="modal">
    <div class="title">
      <span>Car sale</span>
    </div>
    <div class="content">
      <div class="info">
        <div>
          <span class="label">Email</span>
          <span class="text">{{activeModalData.user.email}}</span>
        </div>
        <div>
          <span class="label">Phone</span>
          <span class="text">{{activeModalData.user.phone}}</span>
        </div>
        <div>
          <span class="label">Details</span>
          <div class="details">
            <span class="text"><b>CAR</b> {{activeModalData.car.year}} {{activeModalData.car.make}} {{activeModalData.car.model}} {{activeModalData.car.modelDetail}}</span>
            <span class="text"><b>DESCRIPTION</b> {{activeModalData.description}}</span>
            <span class="text"><b>PRICE</b> AED {{activeModalData.price}}</span>
            <span class="text"><b>KM.</b> {{activeModalData.car.km}}</span>
            <span class="text"><b>LOCATION</b> <a ng-href="https://www.google.com/maps/?q={{activeModalData.location.latitude}},{{activeModalData.location.longitude}}" about="_blank">View on map</a></span>
            <span class="text"><b>LOCATION NOTES</b> {{activeModalData.notes}}</span>
          </div>
          <div class="car-pics">
            <img ng-src="{{pic}}" ng-click="modals.openPic(pic)" ng-repeat="pic in activeModalData.car.pics">
          </div>
        </div>
        <div ng-if="activeModalData.status === 'pending'">
          <span class="text">This will make the sale visible on the mobile app.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <div>
        <button ng-click="modals.updateSale(false,activeModalData)"
          ng-if="activeModalData.status === 'pending'">Reject</button>
        <button class="submit" ng-click="modals.updateSale(true,activeModalData)"
          ng-if="activeModalData.status === 'pending'">Accept</button>
      </div>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- View sale modal END -->

<!-- Toasts -->
<div class="toast" ng-class="{'show' : alert}">{{toastText}}</div>
<!-- Toasts -->

<!-- Open Picture -->
<div class="overlay image" ng-if="modals.activePic">
  <div class="close" ng-click="modals.activePic = null">
    <i class="material-icons">close</i>
  </div>
  <img ng-src="{{modals.activePic}}" alt="FETGO">
  <div class="controls">
    <button ng-click="modals.activePic = null" class="close">Close</button>
    <a ng-href="{{modals.activePic}}">
      <button>Download</button>
    </a>
  </div>
</div>
<!-- Open Picture END-->

<!-- Single user push modal -->
<div class="overlay" ng-if="modalType === 6">
  <div class="modal">
    <div class="title">
      <span>Send Notification</span>
    </div>
    <div class="content">
      <div class="info">
        <textarea ng-model="activeModalData.pushContent" placeholder="Push notification message"></textarea>
        <div>
          <span class="text">This will send {{activeModalData.name}} {{activeModalData.lastName}} {{activeModalData.displayName}} a notification through the mobile app.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit formBtn" ng-disabled="!activeModalData.pushContent.length" ng-click="modals.sendNotification(activeModalData,activeModalData.pushContent)">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Single user push modal END -->

<!-- Notification details modal -->
<div class="overlay" ng-if="modalType === 7">
  <div class="modal">
    <div class="title">
      <span>Notification Details</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <div>
          <span class="label">Date/Time</span>
          <span class="text">{{activeModalData.temp.date}} {{activeModalData.temp.time}}</span>
        </div>
        <div>
          <span class="label">Content</span>
          <textarea class="notification" disabled>{{activeModalData.content}}</textarea>
        </div>
        <div ng-if="activeModalData.attachments">
          <span class="label">Attachments</span>
          <a ng-href="{{link}}" style="margin-right:8px" target="_blank" ng-repeat="link in activeModalData.attachments track by $index">File {{$index + 1}}</a>
        </div>
        <div>
          <span class="label">Sent By</span>
          <span class="text">{{activeModalData.sent_by_name}}</span>
        </div>
        <div>
          <span class="label">Sent To</span>
          <span class="text" ng-if="activeModalData.allUsers">All users</span>
          <span class="text" ng-if="!activeModalData.allUsers">{{activeModalData.users.length}} {{activeModalData.users.length > 1 ? 'users' : 'user'}}</span>
          <div class="table-container" ng-if="!activeModalData.allUsers">
            <table class="fixed">
              <tr>
                <th>Name</th>
                <th>Email</th>
              </tr>
              <tr ng-repeat="user in activeModalData.users">
                <td>{{user.fullName}}</td>
                <td>{{user.email}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<!-- Notification details modal END -->

<!-- Attachments modal -->
<div class="overlay" ng-if="modalType === 8">
  <div class="modal">
    <div class="title">
      <span>Add attachments</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="info">
        <div class="file-container" ng-repeat="file in activeModalData.files track by $index">
          <div>
            <i class="material-icons remove" ng-click="modals.removeFile($index)" ng-if="activeModalData.files[$index].progress === 100">close</i>
            <label for="file{{$index}}">Choose file</label>
            <input type="file" id="file{{$index}}" ngf-select="modals.uploadFile(activeModalData.files[$index], $index)" ng-model="activeModalData.files[$index]"
            accept="image/jpeg,application/pdf" ngf-max-size="4MB">
          </div>
          <span ng-if="activeModalData.files[$index].progress < 100">{{activeModalData.files[$index].progress | number:0}}%</span>
          <i class="material-icons" ng-if="activeModalData.files[$index].progress === 100">check_circle</i>
        </div>
        <span class="text">Upload up to 5 files (JPG/PDF only)</span>
      </div>
    </div>
  </div>
</div>
<!-- Attachments modal END -->

<!-- Add / Edit car tuning item modal -->
<div class="overlay" ng-if="modalType === 11">
  <div class="modal">
    <div class="title">
      <span ng-if="!activeModalData.$id">Add item</span>
      <span ng-if="activeModalData.$id">Edit item</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="info form" ng-form="frm" novalidate>
        <div>
          <input type="text" name="name" placeholder="Name" ng-model="activeModalData.name"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.name.$error" class="formMsg"
            ng-if='frm.name.$dirty && !activeModalData.name'
            ng-cloak>
            <div ng-message="required">Name is required</div>
          </div>
        </div>
        <div>
          <textarea type="text" name="description" placeholder="Description" ng-model="activeModalData.description"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          </textarea>
          <div ng-messages="frm.description.$error" class="formMsg"
            ng-if='frm.description.$dirty && !activeModalData.description'
            ng-cloak>
            <div ng-message="required">Description is required</div>
          </div>
        </div>
        <div>
          <input type="number" name="" placeholder="Price (AED)" 
            ng-model="activeModalData.price"
            autocomplete="off" autocorrect="off" spellcheck="false">
          <div ng-messages="frm.price.$error" class="formMsg"
            ng-if='frm.price.$dirty && !activeModalData.price'
            ng-cloak>
            <div ng-message="required">Price is required</div>
          </div>
        </div>
        <div>
          <select ng-model="activeModalData.category" name="category" ng-disabled="activeModalData.$id" required>
            <option value="">Select item category</option>
            <option value="body_design">Body & Design</option>
            <option value="mechanical_parts">Mechanical Parts</option>
          </select>
          <div ng-messages="frm.category.$error" class="formMsg"
            ng-if='frm.type.$dirty && !activeModalData.category' required ng-cloak>
            <div ng-message="required">Item category is required</div>
          </div>
        </div>
        <div class="car-pics">
          <div ng-repeat="pic in activeModalData.images track by $index" class="pic-box">
            <img ng-src="{{pic}}" alt="{{activeModalData.name + $index}}">
            <div class="remove" ng-click="modals.removeCarTuningImg($index)" ng-if="activeModalData.images.length > 1">
              <i class="material-icons">close</i>
            </div>
          </div>
          <label for="tuningImg" ng-if="activeModalData.images.length < 3 || !activeModalData.images">
            <div class="empty">
              <i class="material-icons" ng-if="!activeModalData.progress">add</i>
              <i ng-if="activeModalData.progress">{{activeModalData.progress}}</i>
            </div>
            <input type="file" id="tuningImg" ng-if="activeModalData.$id" ngf-select="modals.uploadSingleFile()" ng-model="activeModalData.fileToUpload"
              accept="image/jpeg" ngf-max-size="4MB">
            <input type="file" id="tuningImg" ng-if="!activeModalData.$id" ngf-select="modals.uploadNewTuningImg()" ng-model="activeModalData.fileToUpload"
              accept="image/jpeg" ngf-max-size="4MB">
          </label>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit formBtn" id="userBtn"
        ng-click="modals.editCarTuning(frm)"
        ng-disabled="frm.$dirty && frm.$invalid || modals.loading || !activeModalData.images.length">Save</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Add / Edit car tuning item modal END -->

<!-- Remove car tuning / rental item modal -->
<div class="overlay" ng-if="modalType === 12">
  <div class="modal">
    <div class="title">
      <span>Remove item</span>
    </div>
    <div class="content">
      <div class="info">
        <label class="no">Are you sure?</label>
        <div>
          <span class="text">This will remove the item from the app.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit" ng-if="!query" ng-click="modals.removeCarTuning()">Confirm</button>
      <button class="submit" ng-if="query" ng-click="modals.deleteInsurance()">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Remove car tuning item modal END -->

<!-- Add / Edit rental item modal -->
<div class="overlay" ng-if="modalType === 13">
  <div class="modal">
    <div class="title">
      <span ng-if="!activeModalData.$id">Add car</span>
      <span ng-if="activeModalData.$id">Edit car</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="info form" ng-form="frm" novalidate>
        <div>
          <input type="number" name="year" placeholder="Year" ng-model="activeModalData.year"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.year.$error" class="formMsg"
            ng-if='frm.year.$dirty && !activeModalData.year'
            ng-cloak>
            <div ng-message="required">Car year is required</div>
          </div>
        </div>
        <div>
          <input type="text" name="make" placeholder="Make" ng-model="activeModalData.make"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.make.$error" class="formMsg"
            ng-if='frm.make.$dirty && !activeModalData.make'
            ng-cloak>
            <div ng-message="required">Car make is required</div>
          </div>
        </div>
        <div>
          <input type="text" name="model" placeholder="Model" ng-model="activeModalData.name"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.model.$error" class="formMsg"
            ng-if='frm.model.$dirty && !activeModalData.name'
            ng-cloak>
            <div ng-message="required">Car model is required</div>
          </div>
        </div>
        <div>
          <input type="number" name="" placeholder="Daily Price (AED)" 
            ng-model="activeModalData.prices.day"
            autocomplete="off" autocorrect="off" spellcheck="false">
          <div ng-messages="frm.priceDay.$error" class="formMsg"
            ng-if='frm.priceDay.$dirty && !activeModalData.prices.day'
            ng-cloak>
            <div ng-message="required">Daily price is required</div>
          </div>
        </div>
        <div>
          <input type="number" name="" placeholder="Weekly Price (AED)" 
            ng-model="activeModalData.prices.week"
            autocomplete="off" autocorrect="off" spellcheck="false">
          <div ng-messages="frm.priceWeek.$error" class="formMsg"
            ng-if='frm.priceWeek.$dirty && !activeModalData.prices.week'
            ng-cloak>
            <div ng-message="required">Weekly price is required</div>
          </div>
        </div>
        <div>
          <input type="number" name="" placeholder="Monthly Price (AED)" 
            ng-model="activeModalData.prices.month"
            autocomplete="off" autocorrect="off" spellcheck="false">
          <div ng-messages="frm.priceMonth.$error" class="formMsg"
            ng-if='frm.priceMonth.$dirty && !activeModalData.prices.month'
            ng-cloak>
            <div ng-message="required">Monthly price is required</div>
          </div>
        </div>
        <div>
          <select ng-model="activeModalData.category" name="category" ng-disabled="activeModalData.$id" required>
            <option value="">Select car category</option>
            <option value="luxury">Luxury</option>
            <option value="economy">Economy</option>
          </select>
          <div ng-messages="frm.category.$error" class="formMsg"
            ng-if='frm.category.$dirty && !activeModalData.category' required ng-cloak>
            <div ng-message="required">Car category is required</div>
          </div>
        </div>
        <div class="car-pics">
          <div ng-repeat="pic in activeModalData.images track by $index" class="pic-box">
            <img src="{{pic}}" alt="{{activeModalData.name + $index}}">
            <div class="remove" ng-click="modals.removeCarTuningImg($index)" ng-if="activeModalData.images.length > 1">
              <i class="material-icons">close</i>
            </div>
          </div>
          <label for="rentalImg" ng-if="activeModalData.images.length < 3 || !activeModalData.images">
            <div class="empty">
              <i class="material-icons" ng-if="!activeModalData.progress">add</i>
              <i ng-if="activeModalData.progress">{{activeModalData.progress | number:2}}</i>
            </div>
            <input type="file" id="rentalImg" ng-if="activeModalData.$id" ngf-select="modals.uploadSingleFile()" ng-model="activeModalData.fileToUpload"
              accept="image/jpeg" ngf-max-size="4MB">
            <input type="file" id="rentalImg" ng-if="!activeModalData.$id" ngf-select="modals.uploadNewTuningImg()" ng-model="activeModalData.fileToUpload"
              accept="image/jpeg" ngf-max-size="4MB">
          </label>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit formBtn" id="userBtn"
        ng-click="modals.editCarTuning(frm)"
        ng-disabled="frm.$dirty && frm.$invalid || modals.loading || !activeModalData.images.length">Save</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Add / Edit rental item modal END -->

<!-- Edit user permissions modal -->
<div class="overlay" ng-if="modalType === 14">
  <div class="modal">
    <div class="title">
      <span>Change permissions</span>
    </div>
    <div class="content">
      <div class="info">
        <div ng-repeat="(key, value) in modals.permissions">
          <label for="{{key}}">
            <input type="checkbox" id="{{key}}"
              ng-checked="activeModalData.permissions[key]" class="perms">
            {{value}}
          </label>
        </div>
        <div>
          <span class="text">Select which tickets {{activeModalData.name}} {{activeModalData.lastName}} will see on the dashboard.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit" ng-click="modals.updateUserPermissions()">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Edit user permissions modal END -->

<!-- Add insurance row -->
<div class="overlay" ng-if="modalType === 15">
  <div class="modal">
    <div class="title">
      <span>Add insurance company</span>
      <div class="close" ng-click="modals.resetModal()">
        <i class="material-icons">close</i>
      </div>
    </div>
    <div class="content">
      <div class="info form" ng-form="frm" novalidate>
        <label class="no">{{types[query.type].name}} - {{query.service}}</label>
        <div>
          <input type="text" name="company_name" placeholder="Company Name" ng-model="activeModalData.company_name"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.company_name.$error" class="formMsg"
            ng-if='frm.company_name.$dirty && !activeModalData.company_name'
            ng-cloak>
            <div ng-message="required">Company name is required</div>
          </div>
        </div>
        <div>
          <input type="number" name="minimum_year" placeholder="Min. Year" ng-model="activeModalData.minimum_year"
            autocomplete="off" autocorrect="off" spellcheck="false"
            required>
          <div ng-messages="frm.minimum_year.$error" class="formMsg"
            ng-if='frm.minimum_year.$dirty && !activeModalData.minimum_year'
            ng-cloak>
            <div ng-message="required">Minimum year is required</div>
          </div>
        </div>
        <div ng-if="query.type === 'express_insurance'">
          <div>
            <input type="number" name="tpl_limit" placeholder="TPL Limit" ng-model="activeModalData.tpl_limit"
              autocomplete="off" autocorrect="off" spellcheck="false"
              required>
            <div ng-messages="frm.tpl_limit.$error" class="formMsg"
              ng-if='frm.tpl_limit.$dirty && !activeModalData.tpl_limit'
              ng-cloak>
              <div ng-message="required">TPL limit is required</div>
            </div>
          </div>
          <div ng-if="query.service !== 'van'">
            <div>
              <input type="number" name="cylinders_4" placeholder="4 Cyl. Rate" ng-model="activeModalData.cylinders_4"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.cylinders_4.$error" class="formMsg"
                ng-if='frm.cylinders_4.$dirty && !activeModalData.cylinders_4'
                ng-cloak>
                <div ng-message="required">4 cyl. rate is required</div>
              </div>
            </div>
            <div>
              <input type="number" name="cylinders_6" placeholder="6 Cyl. Rate" ng-model="activeModalData.cylinders_6"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.cylinders_6.$error" class="formMsg"
                ng-if='frm.cylinders_6.$dirty && !activeModalData.cylinders_6'
                ng-cloak>
                <div ng-message="required">6 cyl. rate is required</div>
              </div>
            </div>
            <div>
              <input type="number" name="cylinders_8" placeholder="8 Cyl. Rate" ng-model="activeModalData.cylinders_8"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.cylinders_8.$error" class="formMsg"
                ng-if='frm.cylinders_8.$dirty && !activeModalData.cylinders_8'
                ng-cloak>
                <div ng-message="required">8 cyl. rate is required</div>
              </div>
            </div>
          </div>
          <div ng-if="query.service === 'van'">
            <div>
              <input type="number" name="ton_1" placeholder="1 Ton. Rate" ng-model="activeModalData.T_1"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.ton_1.$error" class="formMsg"
                ng-if='frm.ton_1.$dirty && !activeModalData.ton_1'
                ng-cloak>
                <div ng-message="required">1 Ton. rate is required</div>
              </div>
            </div>
            <div>
              <input type="number" name="ton_2" placeholder="2 Ton. Rate" ng-model="activeModalData.ton_2"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.ton_2.$error" class="formMsg"
                ng-if='frm.ton_2.$dirty && !activeModalData.ton_2'
                ng-cloak>
                <div ng-message="required">2 Ton. rate is required</div>
              </div>
            </div>
            <div>
              <input type="number" name="ton_3" placeholder="3 Ton. Rate" ng-model="activeModalData.ton_3"
                autocomplete="off" autocorrect="off" spellcheck="false"
                required>
              <div ng-messages="frm.ton_3.$error" class="formMsg"
                ng-if='frm.ton_3.$dirty && !activeModalData.ton_3'
                ng-cloak>
                <div ng-message="required">3 Ton. rate is required</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit formBtn" id="userBtn"
        ng-click="modals.saveInsurance(frm)"
        ng-disabled="frm.$dirty && frm.$invalid || modals.loading">Save</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Add insurance row END -->

<!-- Close chatroom -->
<div class="overlay" ng-if="modalType === 16">
  <div class="modal">
    <div class="title">
      <span>Close chatroom</span>
    </div>
    <div class="content">
      <div class="info">
        <label class="no">Are you sure?</label>
        <div>
          <span class="text">This will remove the item from the app.</span>
        </div>
      </div>  
    </div>
    <div class="buttons">
      <button ng-click="modals.resetModal()">Cancel</button>
      <button class="submit" ng-click="modals.closeRoom()">Confirm</button>
    </div>

    <div class="modalOverlay">
      <div class="spinner">
        <div></div>
      </div>
    </div>

  </div>
</div>
<!-- Close chatroom END -->