<div class="box min-width users">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="tag-list">
        <div ng-click="tuning.getItems('body_design')" ng-class="{ 'active' : tuning.active === 'body_design'}">Body & Design</div>
        <div ng-click="tuning.getItems('mechanical_parts')" ng-class="{ 'active' : tuning.active === 'mechanical_parts'}">Mechanical Parts</div>
      </div>
      <div class="search" ng-click="tuning.toggleSearch()"><i class="material-icons">search</i></div>
      <input type="text" class="filter-input" placeholder="Search by keyword" ng-show="tuning.filter" ng-model="tuning.keyword">
    </div>

    <div class="table-container">
      <table class="fixed">
        <tr>
          <th>Item</th>
          <th style="width: 40%">Description</th>
          <th>Price</th>
          <th class="actions"></th>
        </tr>
        <tr><td class="empty" ng-if="!filtered.length" colspan="4">No results found</td></tr>
        <tr ng-repeat="item in tuning.items | orderBy:'name' | filter: tuning.keyword as filtered">
          <td class="capitalize">{{item.name}}</td>
          <td>{{tuning.limitStrLength(item.description)}}</td>
          <td>AED {{item.price}}</td>
          <td class="actions">
            <i class="material-icons" ng-click="tuning.showModal(item)">edit</i>
            <i class="material-icons" ng-click="tuning.showConfirm(item)">delete</i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>