<div class="box min-width users">
  <div class="dash scrollable">
    <div class="user-controls">
      <div class="tag-list">
        <div ng-click="rental.getItems('luxury')" ng-class="{ 'active' : rental.active === 'luxury'}">Luxury</div>
        <div ng-click="rental.getItems('economy')" ng-class="{ 'active' : rental.active === 'economy'}">Economy</div>
      </div>
      <div class="search" ng-click="rental.toggleSearch()"><i class="material-icons">search</i></div>
      <input type="text" class="filter-input" placeholder="Search by keyword" ng-show="rental.filter" ng-model="rental.keyword">
    </div>

    <div class="table-container">
      <table>
        <tr>
          <th>Car</th>
          <th>Daily Price</th>
          <th>Weekly Price</th>
          <th>Monthly Price</th>
          <th class="actions"></th>
        </tr>
        <tr><td class="empty" ng-if="!filtered.length" colspan="4">No results found</td></tr>
        <tr ng-repeat="item in rental.items | orderBy:'name' | filter: rental.keyword as filtered">
          <td class="capitalize">{{item.year}} {{item.make}} {{item.name}}</td>
          <td>AED {{item.prices.day}}</td>
          <td>AED {{item.prices.week}}</td>
          <td>AED {{item.prices.month}}</td>
          <td class="actions">
            <i class="material-icons" ng-click="rental.showModal(item)">edit</i>
            <i class="material-icons" ng-click="rental.showConfirm(item)">delete</i>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>